[2015-12-08 22:00] #219 closed

[2015-12-08 22:02] #388 closed

[2015-12-08 22:03] #384 closed

[2015-12-09 07:37] marcuslinke commented on #395
Seems swarm-manager has its own versioning and supports a specific docker remote API version. This is from an old swarm installation when calling the `/version`endpoint:

[code]

[2015-12-09 11:34] KostyaSha commented on #395
need compare with direct docker.
My main concern is about using existed classes vs some additional swarm methods or indicators like `client.isSwarm()`
Does swarm support multiple versioned api endpoints? If yes then it may conflict in possibility specify different versioned api (swarm?/docker?)  endpoints.

[2015-12-10 06:15] marcuslinke commented on #395
I guess swarm supports multiple versioned API backends as long as they are compatible with the swarm API version. The docker engine should theoretically support multiple API versions via the `/v.../` URL prefix and I think this is what swarm-manager will use when talking to its backends.

[2015-12-10 06:27] marcuslinke commented on #375
We could also add a method `awaitStatistics()` to the callback. I think this would be the best option.

[2015-12-11 21:25] marcuslinke opened #396 "Disable evaluation of http.proxy... variables when using unix socket connection"
@garthy said:

[2015-12-12 19:34] KostyaSha opened #398 "remove image should return stream"
http://docs.docker.com/engine/reference/api/docker_remote_api_v1.20/#remove-an-image
and some `awaitCompletion()` will be required i think.

[2015-12-12 23:38] KostyaSha commented on #398
Or not stream and just List...

@marcuslinke could you guide how implement it?
 I changed DockerCmd to AsyncCmd, replaced `Void`, to RemoveResponse... But should it return List<RemoveResponse> instead?

[2015-12-13 09:41] marcuslinke commented on #398
@KostyaSha As the doc says it returns a complete JSON array this should'nt be stream. So this is a simple `DockerCmd` that returns some JSON mappable object like either `List<RemoveImageResponseItem>` where `List` type represents the JSON array or some `RemoveImageResponse` object that contains a member of `List<RemoveImageResponseItem>`. What to use is a design decision, but the latter demands to

[2015-12-13 09:49] marcuslinke commented on #398
But maybe the docs are wrong here. I wonder because if I remember correctly removing of images from the docker CLI look like streaming behavior where each item is printed to console as far as it is processed by the deamon. But maybe I'm wrong with that. Needs to be evaluated.

[2015-12-13 18:21] nnarendravijay opened #399 "Does this support saving an image to the disk and loading a container from the saved file ?"
d save -o <tar file name> <image name>
And, we could start a container from the saved tar file as follows:
docker load < file.tar

Wondering if this support is there in this API. Please let me know. Thanks in advance.

[2015-12-14 06:54] lisicongIBM opened #400 "Can't ExecStartCmd execute some command?"
For Example:

ExecCreateCmd execCreateCmd = dockerClient.execCreateCmd(containerId);

 **// I want to create a file in container and write some thing in it.**
**// For Example     cmd =["sed","-i","1a testtest","/opt/testfolder/testfile.txt"]**
**// For Example     cmd =["echo","this is test data",">","/opt/testfolder/testfile.txt"]**
execCreateCmd.withCmd(cmd);
String  execCreateCmdId = execCreat

[2015-12-14 07:19] KostyaSha commented on #400
Duplicates https://github.com/docker-java/docker-java/issues/253

[2015-12-14 07:19] #400 closed

[2015-12-14 11:17] garthy opened #401 "Exception thrown by library when using unix:/// docker endpoint"
If you use 2.1.3 docker-java with a docker enpoint "unix:///var/run/docker.sock" then an exception is throw trying to resolve the proxy to use. It should skip proxy configuration if docker endpoint protocol is "unix://"

java.lang.IllegalArgumentException: protocol = unix host = null
        at sun.net.spi.DefaultProxySelector.select(Unknown Source)
        at com.github.dockerjava.jaxrs.DockerCmd

[2015-12-14 18:34] marcuslinke commented on #401
Duplicates #396

[2015-12-14 18:34] #401 closed

[2015-12-14 20:17] marcuslinke commented on #253
Closing this as of merging https://github.com/docker-java/docker-java/pull/397

[2015-12-14 20:17] #253 closed

[2015-12-15 05:31] lisicongIBM commented on #400
Thanks! -----Kanstantsin Shautsou <notifications@github.com> wrote: -----To: docker-java/docker-java <docker-java@noreply.github.com>From: Kanstantsin Shautsou <notifications@github.com>Date: 12/14/2015 02:57AMCc: Si Cong VL Li/China/Contr/IBM@IBMCNSubject: Re: [docker-java] Can't ExecStartCmd execute some command? (#400)Duplicates #253
—Reply to this email directly or view it on GitHub.

[2015-12-15 06:26] marcuslinke commented on #368
Fixed via 87e398aa15885b04c75e0532b00ae46ac6e04991

[2015-12-15 06:26] #368 closed

[2015-12-15 06:33] marcuslinke commented on #369
Fixed via 87e398a

[2015-12-15 06:33] #369 closed

[2015-12-15 07:25] marcuslinke commented on #390
Maybe related: https://github.com/docker-java/docker-java/pull/402

[2015-12-15 07:28] marcuslinke commented on #370
Fixed via ca376d6862d160df16e17b48e37f8a6246e8779b

[2015-12-15 07:28] #370 closed

[2015-12-15 07:33] #353 closed

[2015-12-15 14:53] romanek-adam commented on #353
I'm sorry, I wasn't able to reproduce this with docker CLI.

[2015-12-15 20:30] marcuslinke commented on #396
Fix by merging https://github.com/docker-java/docker-java/pull/403

[2015-12-15 20:30] #396 closed

[2015-12-16 07:40] #338 closed

[2015-12-16 14:10] KostyaSha opened #404 "refactor serder tests"
- Create dir with docker kind/version/call  i.e. `src/test/resources/samples/docker-engine/1.21/execCmd/{sample1.json, sample2.json}`
- implement tests that picking such files for tests.
- remove enums

Goal: have json samples from different docker version and our classes should produce expected results for them.

@marcuslinke are you ok with this?

[2015-12-16 14:29] marcuslinke commented on #404
:+1:

[2015-12-16 23:50] patelrit opened #405 "IllegalArgumentException when using Unix socket"
Recent change to DockerCmdExecFactoryImpl breaks Unix socket support.

java.lang.IllegalArgumentException: protocol = unix host = null
        at sun.net.spi.DefaultProxySelector.select(DefaultProxySelector.java:176) ~[na:1.8.0_66-internal]
        at com.github.dockerjava.jaxrs.DockerCmdExecFactoryImpl.configureProxy(DockerCmdExecFactoryImpl.java:187) ~[docker-java-2.1.3.jar:na]
        at com.gi

[2015-12-17 06:28] marcuslinke commented on #405
@patelrit This is fixed already. See https://github.com/docker-java/docker-java/pull/403

[2015-12-17 06:28] #405 closed

[2015-12-17 06:29] marcuslinke commented on #292
Fixed via https://github.com/docker-java/docker-java/pull/347

[2015-12-17 06:29] #292 closed

[2015-12-17 11:36] lsamayoa commented on #390
I am running docker through a VM and switching on/off a VPN causes its network to get weird and client performance slow down, when I restart the VM and performance goes back to normal. Guess it got something to do with my networking environment than the client itself

[2015-12-17 11:36] #390 closed

[2015-12-17 11:56] KostyaSha commented on #390
Next time please verify your DNS, they usually not updated right after jumping between networks.

[2015-12-23 11:30] lordofthejars opened #411 "Build images with one simple step throws an error"
Hi I am executing next code in version 2.1.2:

[code]

And the Dockerfile looks like:

[code]

When I execute the code I get next exception:

[code]

Basically what it is happening is that `com.github.dockerjava.api.model.BuildResponseItem#isBuildSuccessIndicated`  the `getStream` method returns the steps executed but not the word *Successful*. But if then I do a `docker images` the image is there

[2015-12-23 11:49] KostyaSha commented on #411
Please provide full code, show what timeouts did you set for connection.

[2015-12-23 11:49] KostyaSha commented on #411
Also, 2.1.3 is the latest version.

[2015-12-23 11:54] lordofthejars commented on #411
aha, when you mention the timeouts thing I have tried to increased and it worked. Also I have updated the version to latest one. Thanks for the idea :)

[2015-12-23 11:56] #411 closed

[2015-12-23 13:25] xFragger commented on #395
https://docs.docker.com/swarm/api/swarm-api/
I'm using the client with swarm already, a few features are missing, but it works mainly, the docs say "The Docker Swarm API is mostly compatible with the Docker Remote API. This document is an overview of the differences between the Swarm API and the Docker Remote API."

[2015-12-23 13:27] KostyaSha commented on #395
@xFragger we know about this page, but swarm itself may have changes in API and docker behind it also.

[2015-12-23 13:28] xFragger opened #412 "Useless newline at the end of an exception-message"
```Unable to find a node fulfilling all dependencies: (....)```
this string comes out of e.getMessage() of a docker-exception, after a failed createContainerCmd

Problem is, that is has a useless newline at its end, is this expected?

I did something like the following in an Tomcat-Servet-Environment and the server didn't answer to the request, reason was that newline, after removing it, everythin

[2015-12-23 13:35] KostyaSha commented on #412
Sorry, don't understand what you are asking about.

[2015-12-23 13:41] xFragger commented on #412
``` client.createContainerCmd(...).withSomeStuff().exec() ```
throws a DockerException, which is perfectly fine, but the message of that exception ends with a newline character. It isn't your fault, that tomcat or the outputStream behaves like i said, but i think it's just an useless character, which makes more problems, than benefits and i ask you to remove newlines at the end of exception messag

[2015-12-23 13:47] KostyaSha commented on #412
Docker also returns new lines that printing during callback logging. I'm using StringUtils to replace end character.

[2015-12-26 04:06] llqzwh opened #413 "Is there any manual docs for setup development environment?"
Hello, I want to setup development environment for docker-java, how to do it? Thanks!

[2015-12-30 19:27] KostyaSha commented on #413
Hi, question sounds very generic, could you clarify what do you want achieve, where do you have problems atm?

[2015-12-30 19:28] KostyaSha commented on #412
@xFragger could you propose PR?

[2015-12-30 20:10] xFragger commented on #412
Didn't go that deep inside the client code. I workarounded the "problem" and the craziest fact is, that i wasn't able to reproduce that behavior again (the linebreak is there, but no problem with tomcat).

Another crazy thing is the "info" call to a swarm master (instead to a dockerdaemon) through the client.... there's an ArrayList returned for the driverExtensions, every value in that begins wit

[2015-12-30 20:15] KostyaSha commented on #412
Feel free propose PRs if you see something wrong in library :)

[2016-01-03 19:30] cdancy opened #414 "Difference between CopyFileFromContainer and CopyArchiveFromContainer"
Code wise these seem to do the exact same thing just wondering if there is anything going on behind the scenes one should be aware of and which you guys recommend to use (perhaps one is to be deprecated?).

Thanks AOT,
Chris

[2016-01-05 21:23] cdancy opened #415 "Master fails at runtime trying to resolve netty-transport-native-epoll"
FYI ... Not sure if you guys are aware but trying to resolve master out of sonatype fails due to the below stacktrace. I've sent in a PR with netty here: https://github.com/netty/netty/pull/4659.

Caused by: org.xml.sax.SAXParseException; systemId: <home-dir>/.gradle/caches/modules-2/files-2.1/io.netty/netty-transport-native-epoll/4.0.33.Final/308dd63c4026eb3b429738d596ce19c6c8eb2b1e/netty-transpo

[2016-01-06 07:57] marcuslinke commented on #415
Thanks for info. I wonder why this isn't a problem when building the docker-java project. Maybe this is gradle related?

[2016-01-06 12:01] cdancy commented on #415
Could be @marcuslinke . Other tools, outside of ivy/gradle, may not care so much what the encoding is if they even check for it at all. Perhaps they're using another library to parse the xml. IDK. In either event my fix  https://github.com/netty/netty/pull/4659 has been merged and the project maintainer said they would back port to the 4.x release chain sometime this week. Any objections to me sen

[2016-01-06 20:15] cdancy commented on #414
Looks like we are just refactoring to account for API endpoints changing. Closing issue.

[2016-01-06 20:15] #414 closed

[2016-01-07 15:58] lordofthejars opened #416 "Add withFilter option when list images"
List images command allows three kind of parameters. https://docs.docker.com/engine/reference/api/docker_remote_api_v1.19/#list-images

* filters
* all
* filter

It seems that only the first two options are supported in list images command in the docker-java.

[2016-01-07 16:37] KostyaSha commented on #416
What is the question?

[2016-01-07 16:43] lordofthejars commented on #416
it is not a question it is a feature that it is not supported now.

[2016-01-07 16:45] KostyaSha commented on #416
Feel free to provide PR, this library is missing many APIs.

[2016-01-07 17:07] lordofthejars commented on #416
here it is the PR https://github.com/docker-java/docker-java/pull/297/files already done. Just accept it :)

[2016-01-08 18:11] marcuslinke commented on #415
Feel free to provide an appropriate PR if this change is released. Thanks.

[2016-01-08 18:14] #329 closed

[2016-01-08 18:24] #412 closed

[2016-01-09 04:09] akeely commented on #356
I need this for a project that I'm doing, so I starting working on it. If anyone else is already doing it, let me know and I can help out where I can. Otherwise, I'm very open to feedback on my work!

[2016-01-09 08:48] lordofthejars commented on #356
Great!!! I had no time to spend on this, so busy on other projects, so please feel free to work on this and thank you very much for having time to implement this :)

[2016-01-10 06:24] agovindaraju commented on #160
Sorry for the late reply. I missed this notification. I am not sure whether it is helpful right now. But I am attaching the file which I had for reference.
[VroDockerCmdExecFactoryImpl.txt](https://github.com/docker-java/docker-java/files/83996/VroDockerCmdExecFactoryImpl.txt)

[2016-01-10 14:46] marcuslinke commented on #356
Work started on branch https://github.com/docker-java/docker-java/tree/issue-356

[2016-01-11 09:23] KostyaSha commented on #416
@lordofthejars so your issue duplicates PR?

[2016-01-11 12:24] lordofthejars commented on #416
@KostyaSha yes, duplicates or it is resolved in.

[2016-01-12 05:13] llqzwh commented on #413
I want to debug docker-java code, and I created an project in Eclipse, imported the code to my project, but it needs many external java jar files, I want to known if there is any easy way or any document to setup the development and debug environment?

[2016-01-12 06:40] marcuslinke commented on #413
@llqzwh This is a maven project (https://maven.apache.org/). All dependencies are declared in pom.xml file so you can import it in eclipse and all needed jar are downloaded automatically. See https://books.sonatype.com/m2eclipse-book/reference/creating.html for details.

[2016-01-12 06:40] #413 closed

[2016-01-12 06:57] llqzwh commented on #413
Thank you! @KostyaSha and @marcuslinke.

[2016-01-12 11:01] francisdb opened #419 "https protocol is not supported?"
If you forget to set up the `DOCKER_HOST` you get this error. This should probably fail with a more appropriate error.

And `DOCKER_HOST` should probably default to `unix:///var/run/docker.sock` ?

[code]

[2016-01-12 12:14] marcuslinke commented on #419
@francisdb I guess this is related to https://github.com/docker-java/docker-java/issues/331. Currently it is possible to configure docker-java inconsinstently. Docker CLI prevents this situation by allowing only `tcp://` urls in DOCKER_HOST and switch between secure and unsecure via `TLS_VERIFY`. In contract to this if `TLS_VERIFY` or `DOCKER_CERT_PATH` is set then docker-java assumes a secure con

[2016-01-12 12:49] francisdb commented on #419
Well, let's be clear, inconsistent config/setup should not fail with `UnsupportedSchemeException: https protocol is not supported` from apache http client as this is totally unrelated and misleading.

[2016-01-12 13:14] marcuslinke commented on #419
@francisdb You are absolutely right. Feel free to provide a PR that solves #331 ;-)

[2016-01-12 13:14] #419 closed

[2016-01-12 18:43] KostyaSha commented on #340
@marcuslinke i created multi-module test repo for checking shading. Could you help with this error https://github.com/KostyaSha/docker-java-shade/issues/1 ?

[2016-01-13 06:40] marcuslinke commented on #356
https://github.com/docker-java/docker-java/pull/417 List networks API

[2016-01-18 09:32] zhaopengme commented on #400
hi .
I use the lastest code to test. but still can not  generate  file.and I found many test cases can not passed.

[code]

[2016-01-18 09:37] zhaopengme opened #424 "ExecStartCmd failure"
hi .
I use the lastest code to test. but still can not  generate  file.and I found many test cases can not passed.

[code]

like this: #400 #253 #397

[2016-01-18 09:59] marcuslinke commented on #424
You need to do `dockerClient.execStartCmd(container.getId()).exec()`.

[2016-01-18 10:00] marcuslinke commented on #424
@KostyaSha Maybe we should rename `dockerClient.execCreateCmd()` to `dockerClient.createExecCmd()` ?

[2016-01-18 11:08] KostyaSha commented on #424
@marcuslinke Deprecate old, add new. TODO remove 4.0 ? :)

[2016-01-18 11:09] KostyaSha commented on #424
dunno... what is the real CMD - should be in the end of naming. If it doesn't match naming pattern, then rename.

[2016-01-18 11:52] marcuslinke commented on #424
Command names must be renamed then also.

[2016-01-18 12:05] KostyaSha commented on #424
@marcuslinke sorry, have no time :atm: but i'm +1 for consistency :)

[2016-01-18 13:13] zhaopengme commented on #424
@marcuslinke thanks.   maybe i'm mistaken.I use the following code. still same result.could u give me a good code. thanks very very much.

[code]

[2016-01-18 13:21] KostyaSha commented on #424
1) ensure that container is alive after your start with top
2) use bash for command execution.
3) AFAIR after you created `exec` you can only start it.

[2016-01-18 13:25] KostyaSha commented on #398
@marcuslinke could you look on it?

[2016-01-18 21:07] marcuslinke commented on #356
Closing as https://github.com/docker-java/docker-java/pull/425 is merged into master.

[2016-01-18 21:07] #356 closed

[2016-01-18 21:09] marcuslinke commented on #416
Resolved via https://github.com/docker-java/docker-java/pull/426

[2016-01-18 21:09] #416 closed

[2016-01-18 21:46] marcuslinke commented on #424
@zhaopengme Whats the problem with the code above? What do you expect? I've created a testcase that runs fine. The file was touched/created successfully.

[2016-01-18 22:13] #394 closed

[2016-01-19 05:07] zhaopengme commented on #424
@marcuslinke  I tested `ExecStartCmdImplTest.execStart.`  and can not write `/execStartTest.log`.

jdk 1.8.

![qq20160119-0](https://cloud.githubusercontent.com/assets/1415418/12410201/5065020e-bead-11e5-9f90-9f72da69ba28.png)

[2016-01-19 05:29] zhaopengme commented on #424
I use spotify,it can generate file.
[code]
![image](https://cloud.githubusercontent.com/assets/1415418/12410487/a109052c-beb0-11e5-8d74-6d4ec2d9bc84.png)

[2016-01-19 06:44] marcuslinke commented on #424
Please provide your complete test method code so I can verify here locally. Note that containers that are created within tests are removed after the test finished automatically.

[2016-01-19 06:54] marcuslinke commented on #424
Hmmm. OK. There seems to be a problem with the jaxrx implementation at least when running from eclipse. All tests runs successfully when started from maven...

[2016-01-19 08:37] marcuslinke commented on #424
@zhaopengme If you run the same test in `ExecStartCmdExecTest` it should work. Could your confirm?

[2016-01-19 08:46] marcuslinke commented on #424
FYI: Currently there are two different implementations in docker-java. One uses jersey/jaxrs as foundation and the other uses netty framwork internally. `ExecStartCmdExecTest` uses the netty impl.

[2016-01-19 09:07] zhaopengme commented on #424
@marcuslinke `ExecStartCmdExecTest ` is ok!   maybe I need use  the netty impl now .thanks!

[2016-01-19 09:20] marcuslinke commented on #424
@zhaopengme Please note that netty impl will available in v3.0.0 of docker-java. Former releases do not contain it!

[2016-01-19 09:46] zhaopengme commented on #424
@marcuslinke  ok!

[2016-01-19 18:38] patelrit opened #428 "add support for new log drivers"
Docker now supports the following log drivers.

gelf	- Graylog Extended Log Format (GELF)
fluentd -	Fluentd logging driver for Docker
awslogs - Amazon CloudWatch Logs logging driver for Docker

https://docs.docker.com/engine/reference/logging/overview/

Is there a generic way to add support for new drivers without requiring an update to docker-java library? Perhaps there is a better way to address

[2016-01-19 18:39] KostyaSha commented on #428
It depends...

[2016-01-20 06:42] marcuslinke commented on #367
@KostyaSha As people wait for 3.0.0 release I think we should remove some of the issues from https://github.com/docker-java/docker-java/milestones/3.0.0. This issue is definitely not needed in 3.0.0. Maybe others too?

[2016-01-20 07:00] KostyaSha commented on #367
sure

[2016-01-20 07:53] marcuslinke commented on #424
We should backport the fix to https://github.com/docker-java/docker-java/tree/2.x

[2016-01-20 11:29] pendyala opened #429 "unable to search image from private repository"
Unable to search image from private repository.

[2016-01-20 11:30] KostyaSha commented on #429
Please provide logs and full description.

[2016-01-20 11:39] pendyala commented on #429
I followed the code snippets provided on the README of the project. I am able to search images from the docker hub public repo, but when I try to the same with our private repository I am not getting any positive response. I am not seeing any error, but an empty list. Below is the source code.

import com.github.dockerjava.api.DockerClient;
import com.github.dockerjava.api.exception.DockerExceptio

[2016-01-20 11:51] pendyala commented on #429
I am using docker-java 3.0.0-SNAPSHOT version.

[2016-01-20 12:40] marcuslinke commented on #429
@pendyala What kind of private registry do you use?

[2016-01-20 12:49] marcuslinke commented on #429
I see your url has a /v1 posfix so I guess you use docker-registry v1, right? If so you have to configure a seach index backend when starting the registry.

[2016-01-20 23:53] igorspasic opened #431 "Remote API image creation speed"
Hi, when I build images in a folder using the library, i got significantly slower results. Please see details on stack-overflow:

http://stackoverflow.com/questions/34912931/building-docker-images-via-remote-api-takes-significantly-more-time-then-from-co

[2016-01-21 00:02] KostyaSha commented on #431
Duplicates https://github.com/docker-java/docker-java/pull/402

[2016-01-21 00:02] #431 closed

[2016-01-21 00:03] KostyaSha commented on #431
But feel free to provde more information, your code, your file, your folder listing, docker-java version and etc. So we will be able to reproduce this issue.

[2016-01-21 06:24] marcuslinke commented on #428
@patelrit Please note that logging drivers aren't plugins in docker. They are build into a specific docker version and aren't pluggable...

[2016-01-21 10:39] pendyala commented on #429
Yes we are using docker registry version 1. We did configure the docker registry to use sqlalchemy as search backend. Below is the snippet from the startup script

env SEARCH_BACKEND=sqlalchemy
env SQLALCHEMY_INDEX_DATABASE=sqlite:////tmp/docker-registry.db

Also I am able to search an image using curl, below is the example

curl -X GET https://dreg1.staging.str5.net/v1/search?q=magento-ssh
{"num_

[2016-01-21 10:50] marcuslinke commented on #429
Could you provide appropriate logs from docker daemon please? Maybe there any hints when compare  logging for both ways (curl vs. docker-java)...

[2016-01-21 11:13] pendyala commented on #429
Here the registry logs

for curl operation

==> /var/log/docker-registry/access.log <==
127.0.0.1 - - [21/Jan/2016:11:55:19] "GET /v1/search?q=magento-ssh HTTP/1.0" 200 110 "-" "curl/7.35.0"

==> /var/log/docker-registry/server.log <==
2016-01-21 11:55:19,711 INFO: 127.0.0.1 - - [21/Jan/2016:11:55:19] "GET /v1/search?q=magento-ssh HTTP/1.0" 200 110 "-" "curl/7.35.0"

Where as I don't see any logs

[2016-01-21 12:12] marcuslinke commented on #429
Hmmm. Strange... So it seems the request doesn't arrive the registry? How is authentication implemented for your registry? If you have a proxy service as described here (https://docs.docker.com/v1.7/registry/authentication/) the problem may be there. Could you provide the relevant parts of your application log please? If the request is logged there then it should arrive the registry. Otherwise it

[2016-01-21 15:02] pendyala commented on #429
We have disabled the authentication for the registry in our staging environment. We have nginx in front of the registry acting as reverse proxy. Unfortunately I don't see any request coming to nginx (as per nginx logs).

[2016-01-21 15:39] marcuslinke commented on #429
Does your application log show the search request when you configure debug level? See https://github.com/docker-java/docker-java/blob/master/src/test/resources/logback.xml

[2016-01-21 15:48] KostyaSha opened #432 "multi-module structure"
@marcuslinke could you prepare it before 3.0.0?
As soon as shade will be fixed it will be possible to provide 'pom' artifact with all information required for shading and people will be able to set their custom prefix property after inheriting this parent pom.

[2016-01-21 15:52] KostyaSha commented on #432
Or i can do it as i have experience :) Just need green light in any moment

[2016-01-21 16:05] marcuslinke commented on #429
OK. I was totally wrong. docker-java doesn't send request to the registry directly. It requests the docker host. Now I found this: https://github.com/docker/docker/issues/15552. It explains how to search private registries. So the search term should contain the registry: `myregistry.com/ubuntu`

[2016-01-21 16:45] pendyala commented on #429
Perfect. Thanks a million @marcuslinke. myregistry.com/ubuntu as search term works.

[2016-01-21 16:45] #429 closed

[2016-01-21 16:54] KostyaSha commented on #429
Of course you need specify domain/name to get image. Or you can fill in docker server config registries, afaik they will be asked one by one during search.

[2016-01-21 16:59] pendyala commented on #429
How can we define pool of registries, can you please guide me on that. Thanks.

[2016-01-21 17:17] KostyaSha commented on #429
I say something related in `/etc/sysconfig/docker` on centos installation.

[2016-01-21 17:19] KostyaSha commented on #428
@marcuslinke maybe `3.1.0`? I feel hotfixes for 3.0.1 ;)

[2016-01-21 18:53] marcuslinke commented on #429
@pendyala Yor are welcome. Didn't know how to search private registries until now... Thanks for questioning! :-)

[2016-01-21 20:49] marcuslinke commented on #432
I would suggest this for 3.1.0. Next docker version is release candidate already so we should hurry up with 3.0.0 release.

[2016-01-21 21:51] marcuslinke commented on #424
Fixed via https://github.com/docker-java/docker-java/pull/430 in master. Backported to 2.x line via 42f4670bd0a58e5bcc98f3f28f77766b61452788

[2016-01-21 21:51] #424 closed

[2016-01-21 21:53] marcuslinke commented on #424
@zhaopengme You could give the current default (jaxrs/jersey) implementation a try now.

[2016-01-22 10:05] ronhitchens opened #433 "Jackson 2.1x / 2.6.x version clash"
Commit: 1f943a3df92eb87e24f0dd0ffdc2c5898ffb6f8d

This commit has broken my builds. We're using Docker-Java to manage docker images for automated testing. Our app uses the RatPack framework, which depends on Jackson 2.6.x. Unfortunately, Jackson 2.1.x and 2.6.x are incompatible with each other in the same JVM. That means we couldn't use the released version of Docker-Java since it depends on Jacks

[2016-01-22 10:11] marcuslinke commented on #433
Sorry for this. It was an oversight of me. I have currently no time to fix it. If you could provide a simple PR I will merge urgently.

[2016-01-22 10:56] ronhitchens commented on #433
I don't currently have time to fix it either.  I am using an explicit dependency on on a snapshot build from 2016-01-18.  When you've made the fix, I will go back to 3.0.0-SNAPSHOT to get the latest.

[2016-01-22 11:03] KostyaSha commented on #433
@ronhitchens please remember that library can't satisfy dependencies for all projects and frameworks. Technically if it passing tests, then it not library issue and you can bypass it by using shaded library version.

[2016-01-22 16:46] ronhitchens commented on #433
@KostyaSha Yes, I agree that the Docker-Java library isn't at fault.  But as a practical matter it is problematic if it depends on a relatively old version of Jackson.  When using Docker-java with other libraries that require a newer version of Jackson then there is a problem because Jackson is not API compatible between versions 2.1.x and 2.6.x of itself.  Not your fault but a problem still.

If

[2016-01-22 18:31] marcuslinke commented on #433
Fixed via 9b3ed93add255b7da3e123f5a8710fa54c9ca651

[2016-01-22 18:31] #433 closed

[2016-01-23 18:10] marcuslinke opened #434 "netty: Start exec and wait for process termination"
Currently there is a bug in the netty implementation that prevents to block until a started exec process is terminated. A call to `ExecStartResultCallback#awaitCompletion()` blocks infinetly.

[2016-01-24 19:09] jbonjean opened #436 "Binds always empty in HostConfig"
Hi,
It seems that binds fields (from HostConfig) are not properly populated after a container inspection, it always returns an empty array. A quick look at the code shows that the field seems to be deliberately ignored (@JsonIgnore). Is there a particular reason for this ?
Thanks.

[2016-01-24 19:21] #434 closed

[2016-01-24 19:33] marcuslinke commented on #436
Are you sure that `binds` fields occurs in JSON response? Could you post example code please?  What docker version do you use?

[2016-01-24 19:42] KostyaSha commented on #436
Maybe on old version because it changed var name?

[2016-01-25 06:13] jbonjean commented on #436
Here the information you requested:
[code]
Snippet of code to test the inspection:
[code]
This snippet prints 0 for the binds length, which is incorrect.

[code]
I can also get the binds list with a manual call to the API:
[code]

[2016-01-25 08:12] marcuslinke commented on #436
@jbonjean The `@JsonIgnore` here https://github.com/docker-java/docker-java/blob/master/src/main/java/com/github/dockerjava/api/model/HostConfig.java#L101 should prevent the serialization of `Bind[]` because there is a special serializer for `Binds` objects (see https://github.com/docker-java/docker-java/blob/master/src/main/java/com/github/dockerjava/api/model/Binds.java#L34-L67). Maybe this prev

[2016-01-25 15:26] marcust opened #437 "Push fails with Daemon 1.10-rc1"
Apparently the Response to push was changed:

[code]

[2016-01-25 15:28] KostyaSha commented on #437
Could you refer to API version and documentation?

[2016-01-25 15:37] marcust commented on #437
It's API v1.22, but apparently the progress response is not very well documented:
https://github.com/docker/docker/blob/master/docs/reference/api/docker_remote_api_v1.22.md

[2016-01-25 15:41] KostyaSha commented on #437
Would be cool to open upstream issue documentation request.

[2016-01-25 21:40] marcuslinke commented on #436
@jbonjean Just pushed d3c7df8df5b4d9565299445257526a4ade0ae610 which adds an assertion for binds in the appropriate test case. It passes with current 3.0.0-SNAPSHOT against docker v1.9.1 so the problem seems not to be at docker-java side. You could run your code with debug logging to see if binds are present in the JSON response coming from the daemon.

[2016-01-26 01:25] jbonjean commented on #436
@marcuslinke I can confirm that it's working on the master, but not on the branch `2.x`. I did a git bisect and it seem that the bug had been fixed by 61bcaa70a32a5b5e3b6556dfb2b84e5cba575e8e.  Could this be ported to the branch 2.x?

[2016-01-26 01:41] jbonjean commented on #436
@marcuslinke I backported only the changes from `src/main/java/com/github/dockerjava/api/model/Binds.java` into the `2.x` branch and  `binds` is now properly populated.

[2016-01-26 06:46] marcuslinke commented on #436
@jbonjean So the problem is that binds format has changed sometimes and we need to know which docker version introduced the new serialization format. In the 2.x branch we need to stay compatible with docker 1.7 / v1.19, so someone need to evaluate this change against this specific docker version before I can backport it as currently there is no concept of multi API version support (at least for th

[2016-01-26 07:05] KostyaSha commented on #436
@jbonjean could you post into gist.github.com full content of json dump?

[2016-01-27 01:59] jbonjean commented on #436
@KostyaSha https://gist.github.com/jbonjean/9113ec342728cea208b7

[2016-01-27 02:03] jbonjean commented on #436
@marcuslinke OK I understand. They don't make it easy to maintain a library :/

[2016-01-27 07:44] marcuslinke commented on #436
@jbonjean So I fear you have to wait until 3.0.0 is released...

[2016-01-27 15:35] PMLavigne opened #440 "Issues with Elliptic Curve (ECDSA) TLS client keys."
I'm encountering an error when using the Docker plugin for JetBrains' IDE's, which makes use of docker-java. The original issue is here: https://youtrack.jetbrains.com/issue/IDEA-150785

Anyway, it seems like docker-java cannot connect to the docker server if the client keys are generated using ECDSA instead of RSA. The CA that signs the keys can be ECDSA, and can sign the keys with ECDSA, but if

[2016-01-27 17:13] jbonjean commented on #436
@marcuslinke OK, will Docker 1.8 be supported by the 3.0.0?

[2016-01-28 00:07] samrocketman opened #441 "docker-java 2.1.1 bug PrivateKeyInfo cannot be cast to PEMKeyPair"
I followed https://docs.docker.com/engine/articles/https/ which resulted in generating an RSA key for the client (x509 ASCII PEM format).  I configured the Jenkins docker to connect to the docker server via TLS client auth.  When I [run the `doTestConnection()`](https://github.com/jenkinsci/docker-plugin/blob/docker-plugin-parent-0.16.0/docker-plugin/src/main/java/com/nirima/jenkins/plugins/docker

[2016-01-28 00:11] KostyaSha commented on #441
Not a docker-java issue. That's caused by multiple docker-java libraries from different plugins in your jenkins installation. I can suggest to use my plugin https://github.com/KostyaSha/yet-another-docker-plugin where i fixed this issue.

[2016-01-28 00:15] KostyaSha commented on #441
Sorry i mistaken.

[2016-01-28 00:16] KostyaSha commented on #441
Library is mostly tested on ssl certs generated by boot2docker/docker-machine. Could you compare how they are generated?

[2016-01-28 00:16] KostyaSha commented on #441
Does your generated keys works with docker-client?

[2016-01-28 00:18] KostyaSha commented on #441
Also, please verify that issue exist with the latest docker-java version and provide simple code that we will be able to use for a test case. Thanks.

[2016-01-28 06:23] marcuslinke commented on #440
Seems the problem is here: https://github.com/docker-java/docker-java/blob/master/src/main/java/com/github/dockerjava/core/util/CertificateUtils.java#L117-L152

Using of RSA is hardcoded yet. One problem would be to detect key algorithm at runtime. Any ideas?

Appropriate bouncycastle documentation:  http://www.bouncycastle.org/wiki/display/JA1/Elliptic+Curve+Key+Pair+Generation+and+Key+Factories#

[2016-01-28 07:01] KostyaSha commented on #440
Algo is detected with parser from bounce library.

[2016-01-28 07:17] marcuslinke commented on #440
@KostyaSha Do you have any sample code?

[2016-01-28 07:32] marcuslinke commented on #436
@jbonjean It will support docker v1.9 / remote API v1.21 and should be mostly backward compatible. We try to be compatible but sometimes (as in this case) it is not possible atm.

[2016-01-28 07:33] marcuslinke commented on #436
OK, closing this as fixed in current 3.0.0-SNAPSHOT.

[2016-01-28 07:33] #436 closed

[2016-01-28 09:35] KostyaSha commented on #440
@marcuslinke i have my own version of utils, will try to look :)

[2016-01-28 12:39] KostyaSha commented on #441
@samrocketman i got some free time. I will try myself. @samrocketman JFYI yet-another-docker-plugin supports TLS credentials in UI.

[2016-01-28 17:26] samrocketman commented on #441
I'll try it out, thanks for the pointer.

[2016-01-30 09:08] marcuslinke commented on #331
wip

[2016-01-30 15:43] KostyaSha commented on #340
Ok, summary is that i solved full shading. @aheritier said that will try ping maven-shade-plugin maintainers, then we will be able resolve #432 and finally close this issue.

[2016-01-30 20:08] KostyaSha commented on #441
@samrocketman https://docs.docker.com/engine/articles/https/#client-modes
[code]

PS @samrocketman it released to main update center. I resolved/refactored different issues that i was unable to do in docker-plugin + wrote first integration tests. I plan cover reported bugs with test cases and continue development. You can of course stay with any plugin you want (you can follow links here https://g

[2016-01-30 22:19] KostyaSha commented on #441
I followed docker docs and generated certs works.

[2016-01-30 22:24] KostyaSha commented on #441
Could you provide exact certs that you used for
`docker daemon --tlsverify --tlscacert=ca.pem --tlscert=server-cert.pem --tlskey=server-key.pem \
  -H=0.0.0.0:2376`
and
`docker --tlsverify --tlscacert=ca.pem --tlscert=cert.pem --tlskey=key.pem \
  -H=$HOST:2376 version` ?

[2016-01-30 23:39] KostyaSha commented on #440
Two ssl related issues mixed in my head. But i made integration test and script that generates ssl certs.
@PMLavigne Could you provide any info about keys generation or some info about existed keys?

[2016-01-31 00:52] KostyaSha commented on #440
seems reproduced:
[code]
note: I have custom CertUtils based on docker-java, but refactored. Will try fix.

[2016-01-31 01:50] KostyaSha commented on #440
Yes, that's a problem to identify algorithm and get right factory.

[2016-01-31 02:06] KostyaSha commented on #440
Hack with try-catch works fine. `getPrivateKeyInfo` or `getPublicKeyInfo` provides algorithm method that is numeric (OID?).
for ecdsa:
`pemKeyPair.getPrivateKeyInfo().getPrivateKeyAlgorithm().getAlgorithm()` = `1.2.840.10045.2.1`
`an RSA public key, the OID is 1.2.840.113549.1.1.1`
`pemKeyPair.getPrivateKeyInfo().getPrivateKeyAlgorithm().getParameters()` somewhere in internals `1.3.132.0.35` that

[2016-01-31 12:19] KostyaSha commented on #440
I have some integration tests and we can made tests for all possible supported key types. But i would like to do it in 3.1.0. Atm we can note that library works fine only with RSA keys.

[2016-01-31 12:22] KostyaSha commented on #415
status?

[2016-01-31 12:39] KostyaSha commented on #415
https://github.com/netty/netty/commit/e7af3ee9709a7b7ce5373601f571f94fc4aa5fc9
seems only rc1 available that has many unreleased fixes on top of it.

[2016-01-31 13:46] cdancy commented on #415
They actually just released a few days ago. I was waiting for this to send in a PR.

https://github.com/netty/netty/releases/tag/netty-4.0.34.Final

[2016-01-31 13:47] KostyaSha commented on #415
I think we will bump all deps before release. @marcuslinke wdyt?

[2016-01-31 17:04] KostyaSha commented on #404
i'm around, so after #445 and #444 can try resolve

[2016-01-31 17:13] KostyaSha commented on #398
Would be glad to see this in 3.0.0 :)

[2016-02-01 13:43] KostyaSha opened #446 "way to specify http auth"
Working on https://github.com/KostyaSha/yet-another-docker-plugin/issues/14
It seems that some users setting their custom "proxy" auth instances (i.e. nginx). The only possible username/password in configBuild is username/password that used for push/pull registry calls.
It would make sense provide the way of setting custom auth for docker-java calls.

PS for `docker client` i found only way to set

[2016-02-02 06:53] PMLavigne commented on #440
@KostyaSha Sorry I haven't been keeping up with this thread, I've been out of town. If you still need more info, here's some relevant bits of the x509 info:

        Signature Algorithm: ecdsa-with-SHA256
        Subject Public Key Info:
            Public Key Algorithm: id-ecPublicKey
                ASN1 OID: prime256v1

The CA has the same values for public key algorithm and signature algorithm

[2016-02-02 07:11] marcuslinke commented on #446
Do you know how docker CLI solves this?

[2016-02-02 07:33] KostyaSha commented on #446
At least `-H` works. AFAIK there is no anything in docker other than tls keys, but technically it shouldn't be a problem to do such support in library.

[2016-02-02 07:47] marcuslinke commented on #446
So it should work with docker-java and configured url `tcp://login:password@url:port` also. Have you tried this already?

[2016-02-02 07:48] KostyaSha commented on #446
Tried, but didn't work. Will try again.

[2016-02-02 15:29] cdancy commented on #415
@KostyaSha @marcuslinke any idea on a new release? I'm a committer for gradle-docker-plugin and we'd love to rebase against a newer release in order to support docker-copy-archive-to-container functionality.

[2016-02-02 16:18] KostyaSha commented on #415
@cdancy can't you define any version you need in your project?

[2016-02-02 16:27] cdancy commented on #415
@KostyaSha the plugin itself is basically an abstraction of this library. We make it easier for those working with gradle to work with docker. We rebase only off of this projects releases. We have open requests to provide tasks (gradle speak if your unfamiliar) for copying files to a given container. As this functionality currently exists ONLY within master of docker-java we are stuck until you gu

[2016-02-07 17:30] marcuslinke commented on #415
Fixed via https://github.com/docker-java/docker-java/pull/449

[2016-02-07 17:30] #415 closed

[2016-02-07 21:37] marcuslinke opened #452 "Authentication configurations need to be refactored"
Currently the `DockerClientConfig` allows configuration of one credential only whereas various commands (push/pull for example) allows to pass multiple `AuthConfigurations` directly.

See discussion here: https://github.com/docker-java/docker-java/pull/447/files#r52124195

[2016-02-07 21:38] KostyaSha commented on #452
refactored, or reviewed, or didn't get idea of docker API organisation again :)

[2016-02-07 21:53] marcuslinke commented on #331
Fixed via Refactoring of DockerClientConfig #447

[2016-02-07 21:53] #331 closed

[2016-02-07 21:53] KostyaSha commented on #331
:+1:

[2016-02-07 21:55] marcuslinke commented on #419
@francisdb Fixed via #447

[2016-02-07 22:01] marcuslinke commented on #452
Related: #316

[2016-02-07 22:03] marcuslinke commented on #452
As stated there:

[2016-02-07 22:16] marcuslinke commented on #452
The problem here is that for integrations tests at least it needs some declarative configuration of auth.

[2016-02-07 22:21] KostyaSha commented on #452
WDYM?

[2016-02-07 22:22] KostyaSha commented on #452
:atm: i'm simulating auths with https://github.com/KostyaSha/yet-another-docker-plugin/pull/17/files#diff-1992f33eb51765f75ec68bad9620776dR188

[2016-02-07 22:22] marcuslinke commented on #452
Integration tests for push/pull commands needs authentication for docker hub. This can't be hard-coded in the tests but must be read from a config file.

[2016-02-07 22:25] KostyaSha commented on #452
Well, i'm not using docker hub for test, only container registry https://github.com/KostyaSha/yet-another-docker-plugin/pull/17/files#diff-1992f33eb51765f75ec68bad9620776dR37

[2016-02-07 22:31] KostyaSha opened #453 "non-void setters for AuthConfig"
Hope class shouldn't match java beans and can provide fluent setters.

[2016-02-08 06:21] marcuslinke commented on #452
Really interesting. Maybe we could do the same in docker-java. But it uses TestNG...

[2016-02-08 06:29] KostyaSha commented on #452
:atm: tests are ugly as i still searching better design for them. Junit's ExternalResource looks better. When they will be good i plan move part of them to docker-java.
What kinds of auth for pull/push application should support at all?
- username+password(+email?)
- tls?
- tokens like in .docker/config.json (where get them without login?)

[2016-02-08 19:42] marcuslinke commented on #452
What do you mean? docker-java should only support AuthConfig as described here: https://docs.docker.com/engine/reference/api/docker_remote_api/#authentication

[2016-02-08 20:06] marcuslinke commented on #452
I think `DockerClientConfigBuilder` or `DockerClient` should have a method to pass a resolver for `AuthConfig`s. This way we can abstract from any configuration source.

[2016-02-08 21:14] marcuslinke commented on #452
But then there is a problem with serialization. `DockerClientConfig` can't be serialized anymore if it contains a provider object.

[2016-02-09 10:49] wouterhund opened #455 "Support docker update in 1.10"
Command line docs: https://docs.docker.com/engine/reference/commandline/update/
API docs: https://docs.docker.com/engine/reference/api/docker_remote_api_v1.22/#update-a-container

This API lets you update a container's resource constraints while it is running, which is an addition in the recently released docker-engine 1.10.

[2016-02-09 17:24] #453 closed

[2016-02-10 10:23] KostyaSha commented on #455
Thanks for reminder but we already know about release. Library is cares about docker API versions and not docker engine versions. atm we are syncing and releasing 1.21. 1.22 will be reviewed and released later in 3.1.0.

Keeping in mind that we already have issues with 1.22 features updates. closing issue as duplicated.

[2016-02-10 10:23] #455 closed

[2016-02-10 15:41] KostyaSha commented on #452
@marcuslinke where serveraddr field from AuthConfig is used at all?
[code]

[2016-02-10 15:41] KostyaSha commented on #452
And our AuthConfig is missing registrytoken field then, i will send PR!

[2016-02-10 20:01] marcuslinke commented on #452
`serveraddr` is currently used by the build command where X-Registry-Config must be generated.

I'm currently trying to understand the token based authentication. (https://docs.docker.com/registry/spec/auth/token/#example) but I don't know how this "registrytoken" field fits into the described workflow.

[2016-02-10 21:17] KostyaSha commented on #452
token is base64 of (login:password), email seems should be set manually (in
json config it exists)...
As i see for registry config you need either token either plain
login+password.
server looks unneed because server is in repo name.

2016-02-10 23:02 GMT+03:00 marcuslinke <notifications@github.com>:

[2016-02-11 15:53] mbaechler opened #456 "DockerCmdExecFactoryImpl change uri inside DockerClientConfig during init ..."
and this breaks support for unix socket.

The problem is that once you called `DockerCmdExecFactoryImpl.init()` once with a configuration containing uri : `unix:///var/run/docker.sock` , you can't reuse the configuration for a second `DockerCmdExecFactoryImpl` instance, because the new value set into `DockerClientConfig` is not supported but `init()` method.

The obvious fix is to prevent configur

[2016-02-11 22:39] KostyaSha commented on #452
[code]

[2016-02-11 22:40] KostyaSha commented on #452
So, `X-Registry-Auth` needs other object?

[2016-02-12 06:09] marcuslinke commented on #452
Right, `X-Registry-Config` may contain multiple credentials as for building images the FROM clause in the Dockerfile might reference a private registry.

[2016-02-12 08:33] gerdogdu opened #458 "Docker Swarm Inspect Container Info"
When using Docker Swarm Host, containers/{id}/json does not contain Node information and some other details. When using Swarm Remote API, the returned JSON is dfferent from docker-json response.
I looked at ﻿InspectContainerReponse and it does not include Node info.

[2016-02-12 09:45] marcuslinke commented on #458
Duplicates https://github.com/docker-java/docker-java/pull/383 as well as https://github.com/docker-java/docker-java/issues/395

[2016-02-12 09:45] #458 closed

[2016-02-12 09:48] marcuslinke commented on #395
Current state taken from https://github.com/docker-java/docker-java/pull/443

[2016-02-12 09:48] KostyaSha commented on #452
Should we introduce two objects `XRegistryConfig` and `XRegistryAuth` and use them?

[2016-02-12 09:50] KostyaSha commented on #395
@marcuslinke atm i'm reviewing pull/pushes and auth to get full container lifecycle support in jenkins. As next step i plan start reworking tests and then it will be possible to introduce swarm (because i will also do integration tests for swarn in jenkins plugin).

[2016-02-12 09:52] xFragger commented on #395
@KostyaSha i just wanted to build a suite for swarm integration tests today, wondering if its possible to run master and agent on one node and drive tests against it.
But if you do so anyway, i don't have to... right?

[2016-02-12 09:54] KostyaSha commented on #395
@xFragger you can do if you wish.

[2016-02-12 09:58] marcuslinke commented on #452
We currently have `AuthConfig` which corresponds to `X-Registry-Auth` and `AuthConfigurations` which is used for `X-Registry-Config`.

I think the `DockerClientConfig` should be configurable with a provider object the returns something like `AuthConfigurations` that is basically a map with the registry address as key and an 'AuthConfig' like object as value. `AuthConfig` could be an interface then

[2016-02-12 10:05] KostyaSha commented on #452
`AuthConfig` doesn't correspond to X-Registry-Auth because it has redundant field and has no token field.
`XRegistryConfig` may container `XRegistryConfigAuth`. My idea to get closer to API objects and names while we don't know ideal solution.
What is `effectiveAuthConfig`? Resolver for auth for some server?

[2016-02-12 10:09] xFragger commented on #395
i will try... lets see what is possible today...
any suggestions?
my idea was to just use the AbstractDockerClientTest as a base for a new AbstractDockerSwarmClientTest

[2016-02-12 13:06] cdancy commented on #428
I'll send in a PR to add the updated log drivers. We have a use-case for gelf and I can knock the others out while I'm here.

[2016-02-12 13:31] KostyaSha opened #460 "Release alpha version from master"
@marcuslinke could you release 3.0.0-alpha1 from master? That should allow people switch to tagged version and produce some test results.
PS can i do somehow releases?

[2016-02-12 15:07] cdancy commented on #428
@KostyaSha my apologies as I didn't see you assigned this to yourself. I've sent in PR's in this area previously so I don't mind adding the extra drivers. Let me know if you want me to hold off as you guys may have other ideas on where you want things to go.

[2016-02-12 15:08] KostyaSha commented on #428
i assigned to keep the track, so marcus may process other issues

[2016-02-12 15:18] KostyaSha opened #461 "periodic pull failure"
Pulling periodically produces null because it deserializes empty json object into class with null fields. Here is the tcp dump of flow
[code]
So the last json entry is `{}`, but
https://github.com/docker-java/docker-java/blob/master/src/main/java/com/github/dockerjava/core/async/JsonStreamProcessor.java#L39-L45
continue parsing.
According to java debugger this token is `START_OBJECT`
@marcuslinke

[2016-02-12 15:18] KostyaSha commented on #461
Probably issue in `Server: Docker/1.8.2-fc22 (linux)`, will try update dind...

[2016-02-12 15:47] KostyaSha commented on #461
1.10.1 seems works :]

[2016-02-12 21:14] marcuslinke commented on #460
I thought about this also some days ago as the 3.0.0 milestone due date is 15th of february...  So we should branch to `3.0.0-alpha1` after release it, right?

For making releases you must have some credentials/gpg keys. If you want I can give it to you.

[2016-02-12 21:17] KostyaSha commented on #460
for alpha releases you don't need branches. You just do release processes as
3.0.0-SNAPSHOT -> 3.0.0-alpha1
next dev version, back -> 3.0.0-SNAPSHOT
(note, not 3.0.0-alpha2-SNAPSHOT that may propose maven-release-plugin)

[2016-02-12 21:26] marcuslinke commented on #460
Wouldn't it be better to have a named commit for easier access to the sources? The branch could be removed after final release then.

[2016-02-12 22:02] KostyaSha commented on #460
maven-release-plugin do tags automatically.

[2016-02-12 22:50] KostyaSha commented on #460
@marcuslinke do you have docker container for building release?

[2016-02-13 10:25] samrocketman commented on #441
Don't use them that way.  Verify it with Jenkins.  The issue occured in Jenkins.  I had no issues using the docker client with the certs.  The problem came from the docker-java library.

[2016-02-13 10:29] KostyaSha commented on #441
I spent half day and wasn't able to reproduce it. If it jenkins issue, then please fill it against jenkins plugins. It works fine in my docker plugin. So closing.

[2016-02-13 10:29] #441 closed

[2016-02-13 10:31] samrocketman commented on #441
This is rather frustrating as it's actually an issue.  I thoroughly describe in the original issue jenkinsci/docker-plugin#371 how to reproduce it.

[2016-02-13 10:37] KostyaSha commented on #441
@samrocketman sure, wait for some plugin dev (if they exist today at all).

[2016-02-13 10:38] KostyaSha commented on #441
@samrocketman or if you would be able to reproduce with docker-java library + certs, then please provide certs (i really followed instructions and tried your certs, but wasn't able to reproduce except using wrong keys for wrong options).

[2016-02-13 21:47] KostyaSha commented on #461
`START_OBJECT` can't be excluded as it only indicates on any content. It would be cool to have ability skip empty items :(

[2016-02-13 22:18] KostyaSha commented on #460
@marcuslinke could you point on some documentation on how releasing? Is it done with maven central or bintray?

[2016-02-13 22:22] KostyaSha commented on #460
@marcuslinke i updated instructions.

[2016-02-13 22:24] KostyaSha commented on #460
As soon as alpha will be released you may call for testing (i.e. i will migrate to it my plugin and start testing). Then wait for some time to get feedback and later finally release 3.0.0. WDYT?

[2016-02-13 22:25] KostyaSha commented on #460
CC @cdancy am i right remember that you also producing some plugins for end users? Would you like join such testing?

[2016-02-13 22:42] cdancy commented on #460
@KostyaSha that is correct. I'm a contributor for https://github.com/bmuschko/gradle-docker-plugin. Sure I can run through your guys test suite whenever you think things are ready. We are actually waiting on this next release so plugging that into our plugin, and running our test suite, will be a good indication of things as well. Let me know.

[2016-02-13 23:04] KostyaSha commented on #428
Resolved via #463

[2016-02-13 23:04] #428 closed

[2016-02-13 23:15] marcuslinke commented on #460
@KostyaSha No container right now. I'm on MacOS so it's a bit difficult as docker doesn't run natively here. Beside this lets call it 3.0.0.RC1. I will prepare release tomorrow.

[2016-02-13 23:19] KostyaSha commented on #460
@marcuslinke https://www.docker.com/products/docker-toolbox ;-) Should be TODO for having container to get reproducible builds (creds can be mounted with volume i think). Plus publishing build logs somewhere would be good...

[2016-02-14 11:57] marcuslinke commented on #461
Maybe JsonToken can be cast to JSONObject that has a .length method then...

[2016-02-14 16:38] marcuslinke commented on #461
Oops. Forget about it...

[2016-02-14 16:43] KostyaSha commented on #461
WDYM?

[2016-02-14 18:23] marcuslinke commented on #461
Just ignore my previous comments... So the only we can do is to detect `next == null` and filter it from being passed to the result callback. Do you agree?

[2016-02-14 18:27] KostyaSha commented on #461
but next isn't null, it start { object. And you can't know what will be
next without reading into object. That is done to PullItem class... Where
we can't know that everything is null :)

2016-02-14 21:23 GMT+03:00 marcuslinke <notifications@github.com>:

[2016-02-15 00:32] KostyaSha commented on #461
[code]
check  content and then

`  public <T> T treeToValue(TreeNode n, Class<T> valueType)`
WDYT?

[2016-02-15 00:33] KostyaSha commented on #461
PS thinking on how reproduce into test case...

[2016-02-15 06:09] marcuslinke commented on #461
So it hangs at `OBJECT_MAPPER.readValue(jp, clazz);`? Sorry don't really understand what the problem is here...

[2016-02-15 06:11] marcuslinke commented on #461
or is `NullpointerException`thrown from within `OBJECT_MAPPER.readValue(jp, clazz);` call?

[2016-02-15 19:31] marcuslinke commented on #460
3.0.0-RC1 should arrive maven central in a few hours. I've also releases v2.2.0 today.

[2016-02-15 19:31] #460 closed

[2016-02-15 19:42] cdancy commented on #460
@marcuslinke difference between 2.2.0 and 3.0.0?

[2016-02-15 19:42] KostyaSha commented on #460
2.2.0 has only bugfixes, 3.0.0 new features and refactorings

[2016-02-15 20:05] marcuslinke commented on #456
Closed via https://github.com/docker-java/docker-java/pull/457 and https://github.com/docker-java/docker-java/pull/465

[2016-02-15 20:05] #456 closed

[2016-02-16 13:47] KostyaSha commented on #461
null is thrown from isErrorIndicated from PullResposnceItem that has all fields as nulls. Because real end happened one item before.

[2016-02-16 19:31] KostyaSha commented on #461
Or pull item should have some `isEOS()` end of stream marked that would stop next items processing.

[2016-02-16 19:56] KostyaSha commented on #460
@marcuslinke btw, did you get my messages about bintray?

[2016-02-16 20:28] KostyaSha opened #467 "API 1.22 sync"
Started reviewing, will do in separate branch.

[2016-02-16 21:19] KostyaSha commented on #452
1.22 change
[code]

[2016-02-16 23:38] KostyaSha commented on #467
Would be cool to unbundle all nested data model classes as docker slowly starting providing objects from different calls. Example will be (when i push branch) NetworkSettings.

[2016-02-17 00:51] KostyaSha commented on #467
https://github.com/docker/docker/pull/20377

[2016-02-17 09:20] rtimush opened #471 "Exec start command: end of STDIN stream not detected"
When `docker exec` is invoked from command line like this the end of input stream is properly detected and `cat` process finishes:
[code]
When I try to do the same with docker-java, the end of stream is not detected and `cat` process waits forever. This problem is not caught by com.github.dockerjava.netty.exec.ExecStartCmdExecTest#execStartAttachStdin test because `.awaitCompletion(5, TimeUnit.SEC

[2016-02-17 15:11] KostyaSha commented on #404
Started saving samples in #442 . Testng looks like junit3 :(

[2016-02-17 16:13] marcuslinke commented on #471
@rtimush Thanks for reporting. Simply don't know how this could be implemented yet.

[2016-02-17 16:22] marcuslinke commented on #471
Hmmm. Maybe we have to pass `CTRL-D` (EOF) character downstream?

[2016-02-17 16:35] rtimush commented on #471
I tried "\u0004" (EOF), "\n\n", "\r\r", "\u0000" but without luck — they are copied by `cat` to stdout as ordinary characters and the process doesn't end.

[2016-02-17 17:02] rtimush commented on #471
If I read docker sources correctly, it invokes "CloseWrite" on socket when stream ends. This moves tcp connection to a half-closed mode with write side closed but read side open to transfer stdout/stderr.

[2016-02-17 17:05] rtimush commented on #471
It seems that the following code works:
[code]

[2016-02-17 18:12] marcuslinke commented on #471
Great! So we have to detect end of stdin `InputStream` and trigger that method then. Could you provide a PR for this please?

[2016-02-17 18:16] rtimush commented on #471
Yes, will do.

[2016-02-17 18:18] marcuslinke commented on #471
Thanks. Besdide this, could you provide a link for the appropriate docker sources here please?

[2016-02-17 22:38] rtimush commented on #471
Somewhere over there: https://github.com/docker/docker/blob/v1.10.1/api/client/hijack.go#L34

[2016-02-19 02:54] yamateh commented on #236
why close the issue? @derzaicheg

[2016-02-19 07:17] md-5 commented on #395
I see that PR, I'll happily chuck in $50USD when it's pulled to get the container.inspect Node data exposed, that's all I care about for "swarm support".

[2016-02-19 07:21] xFragger commented on #395
Just leave me some information, what is missing. I've got 6-8hours every second friday for that, in theory, for helping out with that.

[2016-02-19 07:38] md-5 commented on #395
Nothing is missing that I can see, just want to get it merged :D

[2016-02-19 07:41] marcuslinke commented on #461
Fixed via https://github.com/docker-java/docker-java/pull/468

[2016-02-19 07:41] #461 closed

[2016-02-19 08:05] KostyaSha commented on #236
I think API was changed and i see no issues with building dockerfile.
@yamateh do you still has this issue?

[2016-02-19 08:06] KostyaSha commented on #467
#469

[2016-02-19 08:58] derzaicheg commented on #236
I was able to void this problem, maybe I missused this functionality.
The working example how did I use you can find here:
[example](https://github.com/derzaicheg/JavaDockerApi/blob/master/src/main/java/com/skozlov/breed/common/helpers/docker/DockerHelperImpl.java)

[2016-02-19 14:57] lordofthejars opened #473 "Update Jackson dependency"
Update Jackson dependency to someone newer than 2.1.X. Currently if docker-java it is used with a Jackson library 2.6.X it crashes because of NoSuchMethodException.

[2016-02-19 15:01] marcuslinke commented on #473
Already done in master. Please switch to `3.0.0-RC1` if possible.

[2016-02-19 15:46] #473 closed

[2016-02-22 14:11] KostyaSha opened #476 "NegativeArraySizeException with awaitCompleted()"
FrameReader:
[code]
Stacktrace:
[code]
Code example:
[code]

[2016-02-22 14:25] KostyaSha commented on #476
without `.awaitCompletion()` it also happens but suppressed by some try-catch-finally block.

[2016-02-23 16:18] KostyaSha commented on #452
FYI https://github.com/docker/docker/pull/20565

[2016-02-24 10:02] KostyaSha opened #479 "Exec start kills daemon with nil reference"
@marcuslinke FYI On 1.10.1 with docker-java 2.2.1 i killed daemon with https://github.com/docker/docker/issues/20638  =)

[2016-02-24 20:13] #471 closed

[2016-02-24 20:18] marcuslinke commented on #476
@KostyaSha So it seems log of container is empty then? Would it be possible to create a testcase to reproduce?

[2016-02-24 20:20] KostyaSha commented on #476
Will try, last night i spent with broken docker daemon (in 1.10.3 will be fixed) :D

[2016-02-24 21:22] marcuslinke commented on #479
@KostyaSha So its not a docker-java issue then, right? Could we close this issue?

[2016-02-24 21:23] KostyaSha commented on #479
will keep open for now as i need verify it. Opened as i found or somebody else may get it.

[2016-02-25 20:44] francisdb commented on #419
@marcuslinke I guess this is only for 3.x?

[2016-02-25 20:54] marcuslinke commented on #419
Yes. Version 3.0.0-RC1 already contains it. Please note the configuration changes (see README.md).

[2016-02-25 23:09] francisdb commented on #419
@marcuslinke I can confirm I don't get the 'https protocol is not supported' any more. Thanks.

[2016-02-25 23:48] francisdb opened #480 "'Certificate path doesn't exist' when using DOCKER_HOST=unix:///var/run/docker.sock"
Switched to `3.0.0-RC1` after #419 was fixed
But now the config builder fails with setting
`export DOCKER_HOST=unix:///var/run/docker.sock`

`DockerClientConfig.createDefaultConfigBuilder().build()`

[code]

Am I correct that for sock communication there is no need for the certificate path check? At least on `2.x` this used to work.

[2016-02-26 00:25] gerdogdu commented on #471
This is also problem in JAXRS versiob of ExecStart. awaitCompletion never returns

[2016-02-26 00:27] gerdogdu opened #481 "Hanging in AwaitCompletion of ExecStartResultCallback # JAXRS"
ExecStartResultCallback resultCallBack = new ExecStartResultCallback(stdOut, stdError);
getDockerClient().execStartCmd(containerId).withExecId(executionId).withDetach(false).withTty(false)
 .exec(resultCallBack);

resultCallBack.awaitCompletion(); --> This is never returns

It hangs in  int read = inputStream.read(rawBuffer); of FrameReader

[2016-02-26 00:29] gerdogdu commented on #476
I think it must be

 if(read != -1){
                return new Frame(StreamType.RAW, Arrays.copyOf(rawBuffer, read));
            }

[2016-02-26 06:10] marcuslinke commented on #480
Probably you have set DOCKER_TLS_VERIFY=1. I'm not sure whether DOCKER_CERT_PATH should'nt be checked when using `DOCKER_HOST=unix:///var/run/docker.sock`. I think best option would be to improve error message here.

[2016-02-26 06:23] marcuslinke commented on #471
@gerdogdu JAX-RS version of ExecStart doesn't support STDIN redirection to container. This is the main reason for introducing the whole netty implementation.
I would suggest to switch to netty impl as this will supersede the JAX-RS based one with one of the next releases. Therefore I don't want invest too much in fixing JAX-RS impl. Is this an option for you?

[2016-02-26 07:36] marcuslinke commented on #476
@gerdogdu Probably you're right but that would need to return `null` otherwise which signals that the stream has ended to the caller. I'm not sure if this is really the case here.

[2016-02-26 07:37] marcuslinke commented on #481
@gerdogdu JAX-RS version of ExecStart doesn't support STDIN redirection to container. This is the main reason for introducing the whole netty implementation.
I would suggest to switch to netty impl as this will supersede the JAX-RS based one with one of the next releases. Therefore I don't want invest too much in fixing JAX-RS impl. Is this an option for you?

[2016-02-26 07:42] marcuslinke commented on #480
@francisdb Something like 'Enabled TLS verification (DOCKER_TLS_VERIFY=1) but certifate path (DOCKER_CERT_PATH) '/var/lib/jenkins/.docker/certs' doesn't exist.'

[2016-02-26 08:49] gerdogdu commented on #481
I understand, I also tried netty but still awaitCompletion hangs. My test code as below:

`        CreateContainerResponse container = dockerClient.createContainerCmd("ubuntu").withCmd("sleep", "9999")
                .withName(containerName).exec();
        LOG.info("Created container {}", container.toString());
        assertThat(container.getId(), not(isEmptyString()));

        dockerClient.st

[2016-02-26 10:22] marcuslinke commented on #481
@gerdogdu Are you sure that `awaitCompletion()` hangs forever. I guess it will block for 9999 seconds only.

[2016-02-26 11:48] gerdogdu commented on #481
Sorry to ask but I want to execute bash cmd and wanted to go into root@3434422 and then within upgraded TPC session, I want to execute other commands like ls, cat etc. How could I do this?

In the above code, why awaitCompletion returns because it just runs bash cmd?

[2016-02-26 12:21] marcuslinke commented on #481
Take a look at this test case here https://github.com/docker-java/docker-java/blob/822cb327d21370a059ef7cc1aa50341d273aa0df/src/test/java/com/github/dockerjava/netty/exec/ExecStartCmdExecTest.java#L101-L122

It does what you want but calls `awaitCompletion(5, TimeUnit.SECONDS)`, so the whole operation is cancelled after 5 seconds. If you call `awaitCompletion()` you have a long running operation f

[2016-02-26 12:22] francisdb commented on #480
This using a default `Ubuntu 15.10` with `Docker version 1.10.0, build 590d5108` from `deb https://apt.dockerproject.org/repo ubuntu-wily main`

The only docker env variable that is set is `export DOCKER_HOST=unix:///var/run/docker.sock`

[2016-02-26 12:23] triggetry opened #482 "Read Timed out for Events"
I am trying to build some kind of "Docker Event Monitor". So, I want to track docker events for over an unlimeted amount of time.

I am starting the docker event command using  `dockerClient.eventsCmd().exec( this.callback )`.
It works fine as long there are frequent docker events every couple of seconds.

However, when there was no docker event for a longer time (about half a minute) I am getting

[2016-02-26 12:30] marcuslinke commented on #480
Hmmm. OK. This is probably caused due to the default configuration of docker-java.properties (see https://github.com/docker-java/docker-java/blob/master/src/main/resources/docker-java.properties) that assumes secured tcp connection as preferred.

Switching manually to `DOCKER_TLS_VERIFY=0` whether programmatically or via environment variable should solve it. Could you test that please?

[2016-02-26 12:37] KostyaSha commented on #480
`'/var/lib/jenkins/.docker/certs' doesn't exist.'` is default directory. You should specify tls=0 if you want disable it.

[2016-02-26 12:38] KostyaSha commented on #480
Also note that property file name was changed to docker-java.properties

[2016-02-26 12:38] marcuslinke commented on #482
I guess you use the default JAX-RS based implementation of `DockerCmdExecFactory` so you could try to adjust the readTimeout as described here: https://github.com/docker-java/docker-java/wiki#intialize-docker-client-advanced

[2016-02-26 12:39] KostyaSha commented on #482
read timeout would happen if you set too small timeout in connection.
@marcuslinke provided link to the docs.

[2016-02-26 12:39] #482 closed

[2016-02-26 12:48] triggetry commented on #482
@marcuslinke @KostyaSha Ok, thanks for the fast reply. Actually,in my use case I never want the connection to time out, because I will never know **when** the next docker event will occur.
Is this possible?

[2016-02-26 12:48] KostyaSha commented on #482
As docs states, set it to `0`.

[2016-02-26 12:52] KostyaSha commented on #482
Or you can navigate to chain of classes because this settings configures `ApacheConnector`
@marcuslinke `-1` or `0` ?

[2016-02-26 12:57] triggetry commented on #482
Ok, tried it with `readTimeOut` and `connectionTimeout` of  `-1` as well as `0`, but still I am getting a `"read timed out"` after some time when no event occured.

[2016-02-26 13:01] KostyaSha commented on #482
@triggetry could you provide stack traces?

[2016-02-26 13:11] triggetry commented on #482
@KostyaSha sure:

`Read timed out
java.net.SocketTimeoutException: Read timed out
	at java.net.SocketInputStream.socketRead0(Native Method)
	at java.net.SocketInputStream.socketRead(SocketInputStream.java:116)
	at java.net.SocketInputStream.read(SocketInputStream.java:170)
	at java.net.SocketInputStream.read(SocketInputStream.java:141)
	at java.io.BufferedInputStream.fill(BufferedInputStream.java:

[2016-02-26 13:28] marcuslinke commented on #482
Maybe you could also try it with netty impl of `DockerCmdExecFactory` as there is no timeout I 'm currently aware of.

[2016-02-26 13:30] gerdogdu commented on #481
The problem is that when I put breakpoint in run method of InvocationBuilder `                @Override
                public void run() {

                    byte[] buffer = new byte[1024];

                    int read;
                    while ((read = read(stdin, buffer)) != -1) {
                        channel.writeAndFlush(Unpooled.copiedBuffer(buffer, 0, read));
                    }

[2016-02-26 13:31] KostyaSha commented on #482
`org.glassfish.jersey.client.ClientProperties` ?

[2016-02-26 13:34] gerdogdu commented on #481
Here is the code. If I don't put breakpoint into the above method, it only shows the "ls" in Stdout. If I put breakpoint into above and step step execution, it shows ls execution result.

`ExecCreateCmdResponse execCreateCmdResponse = dockerClient.execCreateCmd(container.getId()).withAttachStdin(true)`
`.withAttachStdout(true).withTty(true).withCmd("bash").exec();`
`InputStream stdin = new ByteArr

[2016-02-26 13:36] KostyaSha commented on #481
Are you sure that ls will be executed with `sh`?

[2016-02-26 13:38] marcuslinke commented on #481
Could you provide the your appropriate code snippet please?

[2016-02-26 13:41] gerdogdu commented on #481
`@Test(groups` = "ignoreInCircleCi")
    `public` void execStartAttachedUbuntu() throws Exception {
        `String` containerName = "generated_" + new SecureRandom().nextInt();

        CreateContainerResponse container = dockerClient.createContainerCmd("ubuntu").withCmd("sleep", "9999")
                .withName(containerName).exec();
        LOG.info("Created container {}", container.toString()

[2016-02-26 13:47] marcuslinke commented on #481
Just a guess but maybe the problem here is that `stdin` InputStream is EOF and therefore the connection is closed before the output of `ls` command is received from docker. Could you test with `withStdIn(System.in)` and try to do `ls` interactively please?

[2016-02-26 13:49] KostyaSha commented on #481
Or send commands into not closed stream after exec?

[2016-02-26 13:53] triggetry commented on #482
@marcuslinke Thanx, it's working with the netty implementation of `DockerCmdExecFactory`.

[2016-02-26 13:54] KostyaSha commented on #482
@triggetry do you have any `@Test` example of your issue?

[2016-02-26 13:56] gerdogdu commented on #481
Yes stdin seems to work, how could we workaround this?

[2016-02-26 14:28] marcuslinke commented on #481
At the moment the only workaround would be to wait a few seconds before EOF is sent from `stdin` InputStream downstream. Maybe we have to change the API for this.

@rtimush Any ideas?

[2016-02-26 14:29] KostyaSha commented on #481
What is the sense of using inputStream for sending single command?

[2016-02-26 14:51] francisdb commented on #480
Ok the config issue is gone with that, but still somewhat unexpected that it by default checks certs when I ask a sock connection

[2016-02-26 15:05] KostyaSha commented on #480
Do you have such variables in env? If yes, then it's expected to be used.

[2016-02-26 15:22] francisdb commented on #480
everything worked correctly with only `export DOCKER_HOST=unix:///var/run/docker.sock` in 2.x
Now I have to add `DOCKER_TLS_VERIFY=0`, it's not a big issue but somewhat unexpected

[2016-02-26 15:33] marcuslinke commented on #480
Maybe we have to rethink defaults in `src/main/resources/.docker-java.properties`...

[2016-02-26 15:51] marcuslinke commented on #481
@KostyaSha What do you mean?

[2016-02-26 18:23] rtimush commented on #481
It seems that the problem reproduces only if tty is enabled. I suppose it is ok — if you close tty it means that your session should be closed and there is no place to display the output.

[2016-02-26 18:28] marcuslinke commented on #481
@gerdogdu OK. Just found the reason. Please remove `.withTty(true)` from create exec command. Then it will work.

[2016-02-26 18:35] marcuslinke commented on #481
@rtimush Thanks for explanation. But that doesn't explain why it works when he sets a breakpoint as described above...

[2016-02-26 18:53] KostyaSha commented on #481
Could everybody provide `docker version` infos? :)

[2016-02-26 20:12] gerdogdu commented on #481
When I remove .withTty(true) then nothing appeared in stdout. I use macosx docker version docker-machine version 0.4.1 (e2c88d6) and Docker version 1.8.1, build d12ea79

[2016-02-26 20:14] gerdogdu commented on #481
@KostyaSha I have a websocket client with HTML terminal to execute bash commands

[2016-02-26 21:30] marcuslinke commented on #481
@gerdogdu Tested the following code against docker 1.8.1 successfully here:

[code]

[code]

[2016-02-26 22:36] marcuslinke commented on #481
@rtimush Let me summarize my current understanding of whats going on there: Enabling tty enables a terminal session, so when end of `stdin` stream is detected and we call `channel.shutdownOutput()` the docker deamon detects that and assumes we want to quit that session. Then it kills the tty and/or connection that is needed to pass stdout back to us.

With disabled tty there is no terminal session

[2016-02-27 05:18] AdityaGupta1 opened #483 "List of runtime libraries is not clear"
Trying to invoke the following lines from a Minecraft mod:

`DockerClient dockerClient = DockerClientBuilder.getInstance("http://localhost:2376").build();
Info info = dockerClient.infoCmd().exec();
System.out.print(info);`

A series of `NoClassDefFoundError` led to adding the following classes to Eclipse:

<img width="516" alt="screen shot 2016-02-26 at 9 14 33 pm" src="https://cloud.githubusercon

[2016-02-27 08:52] marcuslinke commented on #483
This list can be easily generated by executing:

`mvn dependency:list -DincludeScope=runtime`

Currently it shows the following:

[code]

[2016-02-27 08:52] #483 closed

[2016-02-27 09:05] KostyaSha commented on #483
@AdityaGupta1 your has no any dependency management. Please read about maven and use for automatic dependency management.

[2016-02-27 09:21] marcuslinke commented on #483
@AdityaGupta1 The list above is for current master branch (version 3.0.0-RC1). If you need it for 2.2.1 you can generate by checking out that branch and execute maven to generate dependencies list.

However you should really consider to make your project a maven project as this will simplify dependency management.

[2016-02-27 09:22] KostyaSha commented on #483
@marcuslinke please release 2.2.2!

[2016-02-27 09:23] marcuslinke commented on #483
@KostyaSha No time now. I will do it this evening! I swear! :-)

[2016-02-27 15:45] gerdogdu commented on #481
Because I use bash and execute commands need tty enabled. With tty enabled, now it works for me. Thanks for all .

[2016-02-28 22:47] cdancy opened #485 "On back porting CopyArchive*Container commands"
Any chance we can get these 2 classes back ported to the 2.2.x line before you guys move to 3.0?

https://github.com/docker-java/docker-java/blob/master/src/main/java/com/github/dockerjava/core/command/CopyArchiveToContainerCmdImpl.java

https://github.com/docker-java/docker-java/blob/master/src/main/java/com/github/dockerjava/core/command/CopyArchiveFromContainerCmdImpl.java

[2016-02-29 05:48] rtimush commented on #481
@marcuslinke yes, my understanding is the same

[2016-02-29 06:14] marcuslinke commented on #481
@rtimush OK. Thanks. The question that arises to me is whether we need an API change then. If tty is enabled maybe the caller needs a possibility to close the terminal session explicitely not only as a side effect of stream EOF. WDYT? Would it be needed?

[2016-02-29 06:15] marcuslinke commented on #481
@gerdogdu How you solved the "stream EOF -> disconnect" problem when tty is enabled?

[2016-02-29 06:20] marcuslinke commented on #485
2.x line is only bugfixed now. You could switch to "3.0.0-RC1". Or is there anything that prevents you from doing so?

[2016-02-29 07:54] gerdogdu commented on #481
@marcuslinke when user disconnects from terminal, I close inputstream to close the channel.

[2016-02-29 08:05] marcuslinke commented on #481
@gerdogdu So if I understand you right your use case is an interactive user session then, right?

@all But what if someone needs non-interactive execution of commands with demand for receiving terminal control characters? Would that be a possible use case? And wouldn't that mean an API change for handing a `closeChannel()` like functionality out to the caller?

[2016-02-29 08:14] gerdogdu commented on #481
@marcuslinke  I think it is a good idea to provide such API

[2016-02-29 08:59] rtimush commented on #481
@marcuslinke Such API may be useful if we can do something other than sending bytes to stream and closing the channel. My current understanding is that we don't have other controls.

I believe that in TTY mode end of stream can be sent without closing the channel, because it can be done more than once, but I don't know how it is done.

[2016-02-29 09:16] marcuslinke commented on #481
@rtimush So you believe that netty simply doesn't provide a proper API to send EOF without (half) closing the channel?

[2016-02-29 12:51] cdancy commented on #485
@marcuslinke from what I've read, and correct me if I'm wrong, is that the 3.0 line will be substantially different in the way that commands are invoked and processed? You guys currently support "docker copy file from container" but not it's sister command: "docker copy file to container". Before the change happens, and I have to re-write how the [gradle-docker-plugin](https://github.com/bmuschko/

[2016-02-29 12:55] rtimush commented on #481
I think this is the only option available in TCP, so netty just cannot provide anything else.

[2016-02-29 13:10] marcuslinke commented on #485
@cdancy The 3.0.0-RC1 version is not changing the way commands are invoked.

We have renamed some methods and using objects instead of primitives now in the API (null checks may required now).

Additionally most configuration keys has changed to match better with its shell environment equivalents. Porting existing client code from 2.x to 3.x shouldn't be that big deal.

You should give it a try. A

[2016-02-29 13:14] marcuslinke commented on #481
OK. So I just misunderstood you, sorry.

[2016-02-29 13:35] cdancy commented on #485
@marcuslinke fair enough and we will have to do so anyway eventually ;)

[2016-02-29 14:38] marcuslinke commented on #485
OK. So closing this now.

[2016-02-29 14:38] #485 closed

[2016-02-29 14:39] #481 closed

[2016-03-01 22:25] #476 closed

[2016-03-02 07:47] marcuslinke commented on #340
Related: https://issues.apache.org/jira/browse/MSHADE-182

[2016-03-02 07:48] marcuslinke commented on #340
Waiting for version 3.0.0 of maven-shade-plugin

[2016-03-04 01:02] randomnumber12345 opened #489 "BuildImage call returns 500 error"
Hi,
I use latest API 3.0.0RC2 (also tried 2.2.1) to build image such as:

    	         File baseDir = new File(dockerfilePath);
		String imageId = client.buildImageCmd(baseDir).withNoCache(true)
				 .exec(new BuildImageResultCallback()).awaitImageId();

I am sure the file path is valid. I put debugging print there and I verified it.
Also I know the client is instantiated properly. Since I can ca

[2016-03-04 06:27] marcuslinke commented on #489
@randomnumber12345 What docker version do you use? What is the content of the basedir?

For reference: https://docs.docker.com/engine/reference/api/docker_remote_api_v1.19/#build-image-from-a-dockerfile

[2016-03-04 06:42] randomnumber12345 commented on #489
@marcuslinke
I use docker 1.7
basedir is a directory, which I put  /home/userxxx/ for now.
inside, there is a Dockerfile which has only one simple line "FROM busybox"

I read the link you posted. Seems from error 500, it could not tell much info...

[2016-03-04 07:23] KostyaSha commented on #489
1.7 unreally ancient and i would say that we doesn't support it.

Sent from my iPad

[2016-03-04 08:00] #489 closed

[2016-03-04 14:35] randomnumber12345 commented on #489
1.7.1  is released (2015-07-14) ... you call it ancient????.....

[2016-03-04 14:37] KostyaSha commented on #489
Date doesn't matter 1.8, 1.9 and 1.10 are available today with 3 different API versions and features.

[2016-03-04 14:40] randomnumber12345 commented on #489
@KostyaSha
Put docker version aside, do you think this call generated by docker-java is right?

POST /v1.19/build?nocache=true&rm=true
Where is the Dockerfile information?? I think that parameter is missed. And that has nothing to do with Docker server.

[2016-03-04 14:43] KostyaSha commented on #489
@randomnumber12345 please read upstream docs https://docs.docker.com/engine/reference/api/docker_remote_api_v1.19/#build-image-from-a-dockerfile call is right and works on 1.20, 1.21 API  If if complains about EOF, then you specified something wrong for baseDir. Please attach directory listing and debugger screenshot. Are you sure that `baseDir` points to base dir where Dockerfile is placed?

[2016-03-04 15:12] randomnumber12345 commented on #489
I got this error from this client :

Cached exceptioncom.github.dockerjava.api.exception.DockerClientException: Error occurred while preparing Docker context folder.

When I do "ls" , I do see my Dockerfile with content "FROM busybox"
 % ls
Dockerfile

[2016-03-04 15:17] marcuslinke commented on #489
Maybe this is a file permission issue then?

[2016-03-04 16:22] randomnumber12345 commented on #489
@marcuslinke  file permission is checked, no issue.

from this docker doc:  dockerfile - Path within the build context to the Dockerfile.
Seems dockerfile parameter is required.

Actually, If I use docker cli to do same thing, I am able to create image. And from docker daemon debugging info I can see this:

POST /v1.19/build?cgroupparent=&cpuperiod=0&cpuquota=0&cpusetcpus=&cpusetmems=&cpushares=0&

[2016-03-04 16:24] KostyaSha commented on #489
[code]

[2016-03-04 16:40] randomnumber12345 commented on #489
okay. so you guys are saying this library does not support docker 1.7.1 right?

[2016-03-04 16:41] randomnumber12345 commented on #489
this error comes from this client code "Error occurred while preparing Docker context folder."
can you share some insights what does it really mean? What error occurred while preparing context folder?

[2016-03-04 16:41] KostyaSha commented on #489
that's your `baseDir` please provide screenshots of your debugger under breakpoint.

[2016-03-04 16:58] randomnumber12345 commented on #489
@KostyaSha  thank you for your info. Though, we don't use any debugger for testing. And I have provided that error message I saw from our log. And I even give that baseDir 777 access level. And I did verify Dockerfile was there. Still a mystery to me... Thank you for help.

[2016-03-04 16:59] KostyaSha commented on #489
We are trying to make compatible tests and code, so in future (i hope) we will have longer backward compatible tests...

[2016-03-04 17:02] randomnumber12345 commented on #489
surprised  to see you said that. coz  from your README , you guys said
"Supports a subset of the Docker Remote API v1.19, Docker Server version 1.7.x"
in second line.

[2016-03-04 17:05] KostyaSha commented on #489
README is from master and master is in progress of rework. As soon as you found issue we will deprecate old version and merge new staff. We are working at evenings so it bit slow :(

[2016-03-04 18:40] KostyaSha opened #491 "Update jersey with the fix"
@marcuslinke code mentions workaround for https://java.net/jira/browse/JERSEY-2852
https://github.com/jersey/jersey/pull/164 that was already resolved in released versions https://github.com/jersey/jersey/releases/tag/2.22.2 .

@marcuslinke could you review and update it? Maybe it will help with my TTY/hijack issues...

[2016-03-04 20:33] jrmillerwork opened #492 "DockerClientTest.java"
The loop: `for (String command : commands) {
            LOG.info("Running command: [{}]", command);

            CreateContainerResponse container = dockerClient.createContainerCmd("busybox").withCmd(commands).exec();
            dockerClient.startContainerCmd(container.getId());

            int exitcode = dockerClient.waitContainerCmd(container.getId()).exec(new WaitContainerResultCallback())

[2016-03-04 21:08] marcuslinke commented on #492
@jrmillerwork You're right. Probably a refactoring mistake. Initial test is here:https://github.com/kpelykh/docker-java/blob/4be3f66c00d98d8325ec29a840d8e94014d239ec/src/test/java/com/kpelykh/docker/client/test/DockerClientTest.java#L530

There are many simmilar tests [now](https://github.com/docker-java/docker-java/blob/master/src/test/java/com/github/dockerjava/core/command/StartContainerCmdImpl

[2016-03-07 14:01] davidtnorth opened #493 "Expose RepoTags from inspect image command"
docker inspect <image> includes a field like so:

        "RepoTags": [
            "my-registry.example.com:5000/imageName:tag"
        ],

It would be very useful if the inspect image command exposed this - I think it just needs adding to InspectImageResponse.

[2016-03-09 23:13] KostyaSha commented on #467
According to changes we are close to full support. Network API + few features only missing.

[2016-03-10 10:02] KostyaSha commented on #493
What library version do you use?

[2016-03-10 11:13] tejksat opened #496 "InputStream returned on execution of copy file/archive command skips 0xFF bytes"
For Netty implementation `DockerClient.copyFileFromContainerCmd().exec()` and `DockerClient.copyArchiveFromContainerCmd().exec()` returns `InputStream` that skips all 0xFF bytes. This results in malformed downloaded tar archives.

Check [HttpResponseStreamHandler.java:84](https://github.com/docker-java/docker-java/blob/master/src/main/java/com/github/dockerjava/netty/handler/HttpResponseStreamHand

[2016-03-10 11:14] nfoonf opened #497 "Docker-Java does not publish ports when run against docker swarm"
Docker-Build-Step, a jenkins-plugin using docker-java is unable to publish ports of a started container when run against the swarm-API. As it is totally capable of this when run against normal docker-API this seems to be a problem related to docker-java and it's swarm support, as the plugin is not aware of the difference and uses the same codepaths.

Running:
Docker-engine 1.10.2
Docker-Swarm 1.1.

[2016-03-10 11:17] KostyaSha commented on #497
Sorry, this project is not about jenkins plugins. Please try reproduce your issue with plain docker-java.

[2016-03-10 11:17] #497 closed

[2016-03-10 11:17] KostyaSha commented on #496
Could you provide a test case and fix?

[2016-03-10 11:35] tejksat commented on #496
@KostyaSha sure, within a day.

[2016-03-10 18:42] davidtnorth commented on #493
3.0.0-RC1

[2016-03-10 22:02] #493 closed

[2016-03-10 22:13] KostyaSha commented on #492
Wow! It used created object as request!

@marcuslinke i think it mostly needed to have some *Test for DockerClient class. Fixed in #499

[2016-03-10 22:27] KostyaSha commented on #404
- Storage created
- Some tests are written
- enums not touched...

[2016-03-11 12:57] gilles-gosuin commented on #441
I am getting exactly the same issue: my certificates and key work with both curl and the Docker client, but not with docker-java.

After digging through the code (mostly [CertificateUtils](https://github.com/docker-java/docker-java/blob/master/src/main/java/com/github/dockerjava/core/util/CertificateUtils.java)) and looking at [the JavaDoc for PEMParser](https://www.bouncycastle.org/docs/pkixdocs1

[2016-03-16 01:46] sray7965 commented on #343
Guys what about if I am using some REST client like Feign to connect to a docker daemon and lets say that TLS is enabled in Docker daemon. Now, Feign has the capability to send a token per REST request it makes. My question is where will Feign get the token from, will it get the token from CA.

[2016-03-16 17:09] llamahunter commented on #437
Just hit this 'aux' bug.  I see it's merged, but the issue is not closed?

[2016-03-16 17:20] Insomnium commented on #437
Same issue

[2016-03-17 16:43] llamahunter opened #505 "test failure: executable flag preserved"
I'm getting a single test failure when running the top of trunk build. It seems like this should be an unlikely test to fail, but it is, repeatedly.

[code]

[2016-03-17 23:49] llamahunter opened #506 "docker-java doesn't work 'out of the box' with v2 registries"
There's some hacky looking code in AbstrDockerCmdExec.registryConfigs() that uses the dockerClientConfig version to decide whether or not to wrap the X-Registry-Config header base64 encoded json in a 'configs' subobject or not.  If the version is greater or equal to v1.19, it doesn't wrap, otherwise, it does.  Apparently, the v1.19 remote api is being used as a proxy for whether or not the registr

[2016-03-18 00:58] llamahunter commented on #316
It would be really useful if docker-java could also read the newer .docker/config.json file if it exists.  That way, it would be easier for devs to move between command line and docker-java based tools.

[2016-03-18 13:57] Hendrik-H opened #507 "docker info fails via the java client if the daemon is started with the --insecure-registry option"
I'm using com.github.docker-java:docker-java:3.0.0-RC3 against a docker 1.10.3 host. When I docker.infoCmd().exec() I get the following exception.

[code]

The part of the JSON that the daemon returns, which seems to cause the problem looks like this:
[code]

The docker CLI has no problem with that reply.

[2016-03-18 14:22] KostyaSha commented on #507
Could you propose fix or test case?

[2016-03-18 15:34] Hendrik-H commented on #507
I don't quite understand the parsing code and it seems to fail not even in the docker code. So I guess the first question would be if the reply from the daemon is ok or not and why the parser does not like that. In a JSON validator I did not get an error.
I assume one should be able to reproduce this by changing https://github.com/docker-java/docker-java/blob/master/src/test/resources/samples/1.22

[2016-03-19 22:42] Hendrik-H opened #508 "CertificateUtils.verifyCertificatesExist() is not working correctly"
[CertificateUtils.verifyCertificatesExist()](https://github.com/docker-java/docker-java/blob/master/src/main/java/com/github/dockerjava/core/util/CertificateUtils.java) should check for the existence of three pem files but actually only tests for the first one. When you cert directory only contains the `ca.pem` file the code consequently crashes later on as `createKeyStore` first reads in the `key

[2016-03-20 15:19] Hendrik-H commented on #507
The problem can be reproduced with this change in the test:
[code]

With the following change the test seems to pass and I'm also able to perform the info command that failed earlier:
[code]

[2016-03-20 15:21] KostyaSha commented on #507
Please don't modify already existed dumps, they made either from real responses either from existed documentation. Please add new dump and test part that you really need. Also please use List<String> instead array.

[2016-03-20 17:24] KostyaSha commented on #508
Could you PR fix?

[2016-03-20 17:33] Hendrik-H commented on #508
The above code change fixed the issue for me. I have to first ask to for approval before I get contribute a fix, same as for the other issue. Once I have that I can create a fork and fix it unless you don't just want a diff.

[2016-03-20 17:35] KostyaSha commented on #508
Please pull request changes + create some test case to not have this issue in future again.

[2016-03-20 21:47] KostyaSha commented on #506
I think i fixed it as part of #488 please try `3.0.0-RC3` version.

[2016-03-20 21:47] #506 closed

[2016-03-20 21:49] KostyaSha commented on #467
Hm... commands and their options should be synced somehow. But it impossible to do without serders for CMDs because they require constructor...

[2016-03-20 22:20] KostyaSha commented on #505
Please show your `docker version` `docker info`

[2016-03-20 22:21] KostyaSha commented on #505
Works fine for me on docker-1.10.2

[2016-03-21 02:08] luoyunpeng opened #511 "run container in java"
when we run container by docker-java,it is slow! how can we do to make it faster?

[2016-03-21 02:09] luoyunpeng opened #512 "run container in java"
when we run container by docker-java,it is slow! how can we do to make it faster?

[2016-03-21 02:11] #512 closed

[2016-03-21 05:05] llamahunter commented on #506
Unfortunately, there have been a number of breaking API changes in 3.0.0, and the intervening library between myself and docker-java (gradle-docker-plugin) has not yet been adapted to support them.

[2016-03-21 07:36] KostyaSha commented on #506
@llamahunter would you able to create some branch in your plugin and try migrate to 3.0.0. Also i would suggest to try netty implementation because it provides new features. We would be glad to here 3.0.0-rc* feedbacks before releasing final 3.0.0

[2016-03-21 07:37] KostyaSha commented on #511
Could you provide any details? Docker-java doesn't influence on container speed, it just library that sends commands via API.

[2016-03-21 07:54] luoyunpeng commented on #511
When i use Docker-java to start and run a container ，i found it is slower than we do it  in the shell. what can we do to make it faster with Docker-java?

[2016-03-21 08:08] KostyaSha commented on #511
What exactly is slow? I can't help without any details, timings, logs, example of code.

[2016-03-21 08:30] luoyunpeng commented on #511
@Test
	public void creatContainer() throws IOException {
		DockerClient docker = DockerClientBuilder.getInstance(
				"http://localhost:2736").build();
		ExposedPort tcp22 = ExposedPort.tcp(22);
		ExposedPort tcp23 = ExposedPort.tcp(1239);
		CreateContainerResponse container = docker
				.createContainerCmd("scidb:2.0").withCmd("/scidb.sh")
				.withExposedPorts(tcp22, tcp23).withName("newscidb")

[2016-03-21 08:33] KostyaSha commented on #511
If 6s is too much for you, then you should try run this code under profiler.
Also it possible slow because of service loaders, but then need to be profiled.

[2016-03-21 08:44] luoyunpeng commented on #511
Thank you ,maybe because of the scidb.sh,

[2016-03-21 08:45] KostyaSha commented on #511
Is it huge?

[2016-03-21 08:57] luoyunpeng commented on #511
it is not,just four rows,

[2016-03-21 14:13] llamahunter commented on #506
I'm not the owner of the gradle-docker-plugin.  Unfortunately, they dynamically bind to the docker-java api using reflection, so porting to 3.0.0 is not exactly straightforward, as the compiler is no help in determining what APIs have changed.  See https://github.com/bmuschko/gradle-docker-plugin/issues/180

[2016-03-21 14:35] luoyunpeng commented on #511
How to get static ip for container with Docker-java?

[2016-03-21 17:01] KostyaSha commented on #506
Feel free to ask if you have any issues, most things should be intuitive. We following naming like in api and some setters changed to with* fluent builders. That shouldn't be so hard to do migration.

[2016-03-21 22:02] coder-hugo opened #513 "Decouple library from Jersey"
This dependency makes it impossible to use your library for artifacts that have already a different JAX-RS implementation on the classpath. Therefore it would be nice if this dependency could be removed. A possible solution would be the following:
- provide an interface for initializing the docker client based on the given configuration (this should be the only thing Jersey is required for)
- use

[2016-03-21 22:17] igorspasic opened #514 "Creating network throws exception"
Creating overlay network with a name failed:

[code]
Exception:

[code]

[2016-03-21 22:31] igorspasic commented on #514
ok, this is related to docker issue:

[code]

[2016-03-23 12:08] hongweiyi opened #519 "DOCKER_TLS_VERIFY cannot be 'false' or empty"
Test code:

[code]

Exception:

[code]

Problem code:

`com.github.dockerjava.core.DockerClientConfig.DockerClientConfigBuilder#withDockerTlsVerify(java.lang.String)`

[code]

[2016-03-23 12:09] KostyaSha commented on #519
Hi could you PR your changes even if there is no fix?

[2016-03-23 12:11] KostyaSha commented on #519
Sound like variable should be `StringUtils.trimToNull()` and then wrapped with `default( StringUtils.trimToNull(), false)`...

[2016-03-24 18:40] mkaluzny opened #523 "Change Volumes to Mounts for CreateContainerCmd"
It seems that since 1.20 the Volume attribute is gone for create container command, but there is new Mounts attribute for specifying volume mounts. It is now impossible to create a container with mounted volumes.

[2016-03-27 02:31] luoyunpeng opened #524 "container shell command and set static ip for container"
how to execute container shell command for running container with docker-java?
how to set static ip for container?

[2016-03-27 10:43] garagatyi commented on #513
Mainteiners please comment if this idea is OK for you generally.
If you are OK with that maybe someone will contribute that.

[2016-03-27 11:24] garagatyi commented on #395
I'll try to help by sharing my experiens of swarm managing over API.
You should be aware that Swarm uses Docker API client for v1.15. Prove [here](https://github.com/docker/swarm/blob/master/Godeps/_workspace/src/github.com/samalba/dockerclient/dockerclient.go#L20). I create an [issue](https://github.com/docker/swarm/issues/1912) to upgrade it, but haven't got any response from the community.
Swar

[2016-03-27 17:57] #508 closed

[2016-03-27 18:42] KostyaSha commented on #507
resolved via #527

[2016-03-27 18:42] #507 closed

[2016-03-27 21:02] #519 closed

[2016-03-28 04:42] luoyunpeng opened #530 "Fail to use docker-java3.0.0-RC3"
It is ok to run with this,
@Test
	public void buildDockerClientWithSocker() {
		docker = DockerClientBuilder.getInstance("unix:///var/run/docker.sock")
				.build();
	}
But when  i run
@Test
	public void buildDockerClientWithSocker() {
		docker = DockerClientBuilder.getInstance("unix:///var/run/docker.sock")
				.build();
		docker.stopContainerCmd("coord").exec();

	}
It failed ,
(Permission denie

[2016-03-28 06:38] KostyaSha commented on #530
It's not a library issue. Ensure that you have right permissions on socket.

[2016-03-28 06:38] #530 closed

[2016-03-28 09:14] luoyunpeng commented on #530
Yes i did it ,but i still failed to run the test demo
![image](https://cloud.githubusercontent.com/assets/17898126/14075003/f7fbebe6-f507-11e5-8fff-23118a1737e7.png)
the Docker Engine is on centos 7 and the kernel version is 3.10 ,and should i update to 3.18?

[2016-03-29 06:22] marcuslinke commented on #513
FYI: We will remove the jersey dependency with one of the next releases by replacing the default jersey based implementation with the netty based impl that is already included.

[2016-03-29 06:24] marcuslinke commented on #514
OK. So closing this as its not a docker-java issue.

[2016-03-29 06:24] #514 closed

[2016-03-29 06:31] marcuslinke commented on #523
@mkaluzny Could you provide some sample code that is not working for you anymore please?

[2016-03-29 06:45] marcuslinke commented on #524
See https://github.com/docker-java/docker-java/blob/master/src/test/java/com/github/dockerjava/netty/exec/ExecStartCmdExecTest.java#L126 how to execute command in running container. To make it work you have to configure netty implementation of 'DockerCmdExecFactory' like described here https://github.com/docker-java/docker-java/wiki#intialize-docker-client-advanced

What do you mean with static co

[2016-03-29 06:45] #524 closed

[2016-03-29 06:55] garagatyi commented on #513
I don't think it will solve the problem.
Problem is that the library has 2 main subsystem:
1. api +core
2. http client impls

To make this library more usable it is better to separate these parts into several maven modules.
So first module should not have a lot of dependencies.
In that case other projects could include first part and implement second part with their own http client.
It is importan

[2016-03-29 07:03] KostyaSha commented on #513
I don't think that we would be ready to support such more abstractions.
You can use shaded library (we would resolve it soon).

[2016-03-29 07:06] luoyunpeng commented on #524
I want to get a static ip for a container with Docke-java .like Docker Engine command  -ip=....,when we use docker run command，

[2016-03-29 07:07] KostyaSha commented on #524
If it run, then configure in create command.

[2016-03-29 07:15] luoyunpeng commented on #524
But i do not find it in create command，just like docker.createContainerCmd("centos").withIPaddress(".........").exec;

[2016-03-29 07:26] marcuslinke commented on #524
I think this is realized via https://docs.docker.com/engine/reference/api/docker_remote_api_v1.22/#connect-a-container-to-a-network in the docker CLI somehow but that is just a guess. Why do you need assign such a static ip? What is it useful for?

[2016-03-29 07:33] KostyaSha commented on #524
Why `connect to container`? He just need configure HostConfig AFAIR in create to have static ip.

[2016-03-29 07:33] luoyunpeng commented on #524
Ｉwant the static ip with container for building my DB cluster easier with docker, and it is ok for bind static ip for Docker Engine 1.10.x

[2016-03-29 07:50] marcuslinke commented on #524
@KostyaSha Can't find appropriate field in `HostConfig`

[2016-03-29 07:58] KostyaSha commented on #524
Then i would guess it moved to network configuration in 1.22 API.

[2016-03-29 07:59] KostyaSha commented on #524
In any case it should be possible to run wireshark and dump `follow->tcp stream` executed docker cli command targeted to unsecured daemon connection (`-H`).

Sound like i need document such things...

[2016-03-29 18:50] marcuslinke commented on #496
Fixed by merging https://github.com/docker-java/docker-java/pull/501

[2016-03-29 18:50] #496 closed

[2016-03-30 13:59] KostyaSha commented on #340
They didn't make this version, but i built and realesed plugin to bintray (optionally i found plugins for gradle).

Would it make sense to host my shade pom's under docker-java and release 2 shaded artifacts from it?

[2016-03-30 14:56] davidtnorth opened #531 "Large volumes of output from "docker exec" trigger out of memory error"
I ran a command via the API call for docker exec. It produced several GB of output on stderr. This resulted in the following:
[code]

[2016-03-30 14:57] KostyaSha commented on #531
test examples...

[2016-03-30 15:53] dvbobrov opened #532 "Build command fails when symlinks in docker folder are used"
My Docker image includes some files, which are symlinks pointing outside of docker folder, e.g.

[code]

Native docker client handles this correctly. Java `File.getCanonicalFile()` follows symlinks, so TAR archive sent to Docker daemon contains `usr/local/include/python3.5m/**` instead of expected `include/python3.5m/**`, and as a result I get confusing errors about non-existent files.

I guess re

[2016-03-30 21:34] marcuslinke commented on #531
Probably a `rawBuffer.discardReadBytes();` is missing after https://github.com/docker-java/docker-java/blob/master/src/main/java/com/github/dockerjava/netty/handler/FramedResponseStreamHandler.java#L64

[2016-03-30 22:16] KostyaSha commented on #532
Hi, could you investigate how docker cli works in this case?

[2016-03-30 22:17] KostyaSha commented on #531
That what i also thought.

[2016-03-30 22:20] KostyaSha commented on #491
Or would you wait just to remove jersey from library at all?

[2016-03-31 05:24] marcuslinke commented on #491
Right. I don't think its worth to switch to new jersey version.

[2016-03-31 08:59] davidtnorth commented on #531
I'll try and come up with a minimal reproduction; shouldn't be hard to do something involving "cat" and /dev/zero

[2016-03-31 18:34] dvbobrov commented on #532
Oh, I got this wrong.

Docker cli behavior is the following:
1) If you just `COPY` for a symlink, it will give an error `lstat link: no such file or directory`
2) If you use `COPY` on a directory containing symlink, it will successfully build an image, where symlink is copied as a symlink, so it points to the same path in the container.

It seems that official documentation doesn't specify, what t

[2016-03-31 18:39] marcuslinke commented on #531
@davidtnorth Could you build docker-java from branch `issue-531` and test if the fix solves the issue for you please?

[2016-04-04 11:01] bsideup opened #536 "Thread-safety and pooling"
Hi!

I saw some work on Netty, so I want to update the status of my questions:

- [ ] Is it safe to re-use DockerClient now?
- [ ] If not, is there any pooling or something?

Thanks!

[2016-04-04 11:11] KostyaSha commented on #536
https://github.com/docker-java/docker-java/pull/488#issuecomment-192381580 and  https://github.com/spotify/docker-client/issues/258#issuecomment-164514078 threads need to be checked again. Hope some fix appeared.

[2016-04-05 06:32] marcuslinke commented on #536
@KostyaSha I don't see any relation to threading. Could you explain please?
@bsideup At least when using the netty impl, `DockerClient` SHOULD be thread safe as long as command objects aren't shared between threads. Netty itself manages it own thread pool for processing and guarantuees that handlers are not called concurrently. Currently there is no connection pooling/reuse implemented, so chances

[2016-04-05 06:36] bsideup commented on #536
@marcuslinke oh, cool :) Any ETA of Netty-based implementation?

[2016-04-05 06:39] KostyaSha commented on #536
@marcuslinke ` Is it safe to re-use DockerClient now` if connection problem isn't fixed, then no.

[2016-04-05 06:41] marcuslinke commented on #536
@bsideup It's already there in 3.0.0-RC4 but must be configured manually. See https://github.com/docker-java/docker-java/wiki#intialize-docker-client-advanced to get an idea how to configure the netty impl of `DockerCmdExecFactory` into the client instance. It will replace the jersey impl sometimes.

[2016-04-05 06:56] marcuslinke commented on #536
@KostyaSha I probably don't understand the problem as you already did. As I understand netty impl is not reusing connections currently so how the error should occur then. Or is it a problem of server side connection pooling only?

[2016-04-05 07:08] KostyaSha commented on #536
As i see all clients made workaround fixes. Fine if it works with netty without issues.

[2016-04-06 11:41] jeantil opened #537 "docker for mac compatibility"
Hello,

I am beta testing docker 4 mac  and when I disable docker-machine my test suite fails with

[code]

The latest version of test containers (1.0.3 at the time of this writing) uses docker-java 2.2.0 (https://github.com/testcontainers/testcontainers-java/blob/2e227e29eded31c0b2d45a5351cc108994327394/core/pom.xml#L20) so I assume it is safe to say that docker-java 2.2.0 is not compatible with

[2016-04-06 18:17] KostyaSha commented on #537
2.2.3 is latest

[2016-04-06 18:23] KostyaSha commented on #537
Do you mean docker 4 mac beta?

[2016-04-06 19:21] KostyaSha commented on #537
`java.lang.UnsatisfiedLinkError: Could not find library in classpath, tried: [libjunixsocket-macosx-1.8-x86_64.dylib, libjunixsocket-macosx-1.5-x86_64.dylib]`
So NativeUnixSocket from library requires system library that is not available because nobody tried to connect it via socket. As workaround you can try expose rest API and connect via it.

[2016-04-06 19:37] KostyaSha commented on #537
I would look at libraries when i get access to beta :)

[2016-04-06 21:24] jeantil commented on #537
Hello,
Yes I mean docker 4 Mac beta :)

I have no idea how to expose a rest API from the Unix socket or using docker 4mac...

I'll provide further details on the link error tomorrow

[2016-04-06 21:37] gesellix commented on #537
@jeantil I assume you configured the docker client to connect via unix socket at `unix:///var/tmp/docker.sock`, right?

[2016-04-06 22:33] gesellix commented on #537
@KostyaSha docker-java transitively depends on an older version of junixsocket. An updated release of https://bintray.com/gesellix/docker-utils/unix-socket-factory/2016-04-06T22-21-19/view should show up in Maven Central, soon. Since you're not actually using `unix-socket-factory` anymore you could also consider to replace the unix-socket-factory dependency with the ones below (Gradle notation). A

[2016-04-06 22:33] KostyaSha commented on #537
Project uses https://github.com/docker-java/docker-java/blob/master/pom.xml#L102-L105
Oh, cool, author is here.
@gesellix could make git tags next time https://github.com/gesellix/unix-socket-factory ?

[2016-04-06 22:34] gesellix commented on #537
@KostyaSha next time ;-) but as suggested I would replace the current dependency on unix-socket-factory with the direct dependency on junixsocket.

[2016-04-06 22:37] gesellix commented on #537
as incentive to update: the https://github.com/gesellix/docker-client/ works for me on Docker for Mac using junixsocket 2.0.4.

[2016-04-06 22:47] KostyaSha commented on #537
@gesellix am i right understand that it's groovy client library? 0_o

[2016-04-06 22:48] gesellix commented on #537
if you mean docker-client: yes
junixsocket: no

[2016-04-07 06:25] marcuslinke commented on #537
Please note that this would affect the netty impl also.

[2016-04-07 06:33] marcuslinke commented on #537
Related: https://github.com/netty/netty/issues/2448

[2016-04-07 08:25] jeantil commented on #537
@gesellix

When going through org.testcontainers I have not configured (or tried to configure) anything and I am not sure I could configure. org.testcontainers first tries to find docker-machine, start it, get the ip for the docker host and connect to it using https, if that fails it automatically falls back to unix socket which yields the UnsatisfiedLinkError I mentionned in my initial post.

Whe

[2016-04-07 08:36] KostyaSha commented on #537
dylib is system library, i guess that you should place it to LD paths https://developer.apple.com/library/mac/documentation/DeveloperTools/Conceptual/DynamicLibraries/100-Articles/UsingDynamicLibraries.html

[2016-04-07 08:53] jeantil commented on #537
@KostyaSha I know that dylib is a system library, (at least a native library for the jvm) :)

However, as I said, the version of junixsocket used by docker-java 2.2.0 which is embedded in org.testcontainers, *does NOT* load the native library from the usual java.library.path (which is the list of locations the jvm is trying to resolve native libraries from).
Instead it explicitely looks it up at a

[2016-04-07 09:31] gesellix commented on #537
@jeantil please note the slight difference between the unix addresses: we have `unix:///var/run/docker.sock` for docker-machine or boot2docker setups, while Docker for Mac/Windows uses `unix:///var/tmp/docker.sock`.

I'm not sure about the `DOCKER_OPTS` variable - the official name would be `DOCKER_HOST`. Is that a docker-java specific option? ( @marcuslinke @KostyaSha )
I'm also not sure about th

[2016-04-07 09:33] jeantil commented on #537
@gesellix  thanks for that pointer this might explain why my tests failed
regarding DOCKER OPTS I followed the readme [at the end of the build with maven section](https://github.com/docker-java/docker-java#build-with-maven)

[2016-04-07 09:36] gesellix commented on #537
@jeantil ah, yes. It's not very obvious, but the docs say that `DOCKER_OPTS` are meant to configure your Docker engine/daemon:

[2016-04-07 09:37] gesellix commented on #537
So, I'd suggest to give DOCKER_HOST="unix:///var/tmp/docker.sock" a try when running a client (still a wild guess, I'm not a docker-java maintainer :-) ).

[2016-04-07 09:39] gesellix commented on #537
another low level test to verify basic correctness of your Docker for Mac env:

    curl --unix-socket /var/run/docker.sock -XGET http://localhost/info

[2016-04-07 09:42] jeantil commented on #537
I am not sure I understand what you mean and
[code]

The build is running as I write with DOCKER_HOST set manually but docker4mac doesn't seem to export it automatically to the shells (would be nice if the client could check both unix sockets)

the docker4mac environment works fine, I can start and stop containers with the cli without any problem and the low level test works too  :

[code]

[2016-04-07 09:44] jeantil commented on #537
[code]
Same error in the integration tests. docker-java doesn't seem to care about DOCKER_HOST :)

[2016-04-07 09:49] jeantil commented on #537
Regarding DOCKER_OPTS, I think I see what you mean, this would alter the way the docker daemon works. I don't think it is desirable in this case. As a user I would expect the client to try the various default urls until it finds one which works.
Maybe what I got wrong is the
[code]
section. It doesn't say _how_ to configure the famous url (which in my case would be `unix:///var/tmp/docker.sock`) a

[2016-04-07 11:20] davidtnorth opened #538 "ImageInspectResponse.GraphDriver.Data is not a String"
The following code:

public static void main(final String[] args) throws Exception {
    Properties properties = new Properties();
    properties.put("DOCKER_TLS_VERIFY", "0");
    properties.put("DOCKER_HOST", "tcp://localhost:2375");
    DockerClientConfig clientCFG = new DockerClientConfig.DockerClientConfigBuilder()
        .withProperties(properties)
        .build();
    DockerClient dockerC

[2016-04-07 11:28] KostyaSha commented on #538
Please enable unsecured HTTP API connection to daemon and run wireshark on your client. Then run sniffing, run this code, stop sniffing, click "follow tcp stream" and then post to use request and response data. That would allow identify and wrote test for your response.

[2016-04-07 12:33] gesellix commented on #537
@jeantil yeah, I also don't know how to apply the configuration to docker-java, so I guess one of the maintainers can help.

About the clients checking different well known defaults I wouldn't be so content, because the official/native docker client also doesn't behave that way. I'll give the Docker for Mac maintainers feedback about that, though.

[2016-04-07 12:37] jeantil commented on #537
Maybe you are right and this should be the responsibility of the tools using the client to specify how they want to handle fallback. That's the case at the moment ( testcontainers is the one implementing the fallback strategies using the various strategies proposed by docker-java )

[2016-04-07 13:41] gesellix commented on #537
request for a consistent default connection url: https://forums.docker.com/t/can-we-have-unique-default-connection-urls-across-platforms/8633

[2016-04-07 15:37] gesellix commented on #537
you can safely forget the stuff with `/var/run/docker/sock` vs. `/var/tmp/docker.sock`. Both are available (sym-linked) on Docker for Mac, so you can expect to find `/var/run/docker/sock` as ultimate default.

[2016-04-07 15:38] jeantil commented on #537
sounds perfect :D

On Thu, Apr 7, 2016 at 5:37 PM Tobias Gesellchen <notifications@github.com>
wrote:

[2016-04-07 17:53] marcuslinke commented on #538
@davidtnorth What docker version do you use?

[2016-04-07 17:54] davidtnorth commented on #538
Docker version 1.10.2, build c3959b1

[2016-04-08 17:08] mradamczyk opened #539 "Conflicting getter definitions for property "OomKillDisable""
I'm trying to create docker using docker-java api 3.0.0-RC4. Unfortunately I'm getting such error:

[code]
I'm not sure if I'm doing sth wrong or it's a problem with dockerjava implementation.

Here is what Docker daemon writes to console:
[code]

https://groups.google.com/d/msg/docker-java-dev/gfzC2AcsIso/GAIgJBjGAAAJ

[2016-04-08 17:19] marcuslinke commented on #538
@davidtnorth Could you enable debug logging by putting this [file](https://github.com/docker-java/docker-java/blob/master/src/test/resources/logback.xml) into your classpath and dump the json response please?

[2016-04-08 17:41] marcuslinke commented on #538
Format is described here: https://github.com/docker/docker/blob/master/man/docker-inspect.1.md

[2016-04-08 17:50] KostyaSha commented on #539
@marcuslinke Why mapper complain about getters while annotation defined only on field?

[2016-04-08 17:52] KostyaSha commented on #539
So the hostconfig is part of create cmd that i can't test serialisation-deserilization. Making PR with the fix.

[2016-04-08 17:57] KostyaSha commented on #539
#540 should be the fix

[2016-04-08 18:10] KostyaSha commented on #538
Test available.
New json sample need to be added and
[code]
should be tested

[2016-04-08 18:11] KostyaSha commented on #538
@marcuslinke should we use some `JsonObject` instead `Object` for unknown fields?

[2016-04-08 18:12] marcuslinke commented on #538
I don't think so. JsonObject is for complex objects only, so what if the unknown type is String?

[2016-04-08 18:13] KostyaSha commented on #538
Will it be String but in Json raw object?

[2016-04-08 18:15] KostyaSha commented on #538
Or mapper guesses itself?

[2016-04-08 18:17] marcuslinke commented on #538
If we use `Object` the mapper accepts any json type for the field. I guess when we use someting like `JsonObject` it refers to a complex json object aka a Map in java, so it will fail when json contains a string value for the field.

[2016-04-08 18:18] KostyaSha commented on #538
I didn't found any docs so decided that unknown field could be text, that's why used String. But it my mistake :(

[2016-04-08 18:21] marcuslinke commented on #538
Beside this I don't find any jackson `JsonObject` class. I was confused by another json library I use at work. So what `JsonObject` do you mean?

[2016-04-08 18:28] marcuslinke commented on #538
However could we find the unknown type fields? I guess these are `null` in sample json, right?

[2016-04-08 18:28] KostyaSha commented on #538
fix #541

[2016-04-08 18:29] KostyaSha commented on #538
I mistakenly thought that it failed for Object, but here was String. Bug is obvious.

[2016-04-08 18:34] #538 closed

[2016-04-08 18:37] marcuslinke commented on #531
@davidtnorth Could you test with latest 3.0.0-SNAPSHOT please?

[2016-04-08 18:39] KostyaSha commented on #531
@marcuslinke do we push master to snapshots?

[2016-04-08 18:46] marcuslinke commented on #531
@KostyaSha I think so. We call https://github.com/docker-java/docker-java/blob/master/travis-after-success.sh after travis successfully built the project. There is a `mvn deploy` called.

[2016-04-08 18:50] marcuslinke commented on #531
Confirmed: See https://travis-ci.org/docker-java/docker-java/builds/121777177#L2610

[2016-04-09 09:38] mradamczyk commented on #539
Thanks! #540 fix my problem.

[2016-04-09 09:55] marcuslinke commented on #537
@jeantil Could you please try with netty implementation of `DockerCmdExecFactory` please? See https://github.com/docker-java/docker-java/wiki#intialize-docker-client-advanced how to configure a `DockerCmdExecFactory` instance into `DockerClient`. Thanks!

[2016-04-09 10:07] marcuslinke commented on #523
OK, I see. Create container command now has `Mounts` instead of `Volumes`. That seems to be introduced with https://docs.docker.com/engine/reference/api/docker_remote_api_v1.20/#create-a-container. `Volumes ` are working with 1.22 also probably for backward compatibility reasons. We should provide `Mounts` also in our API.

[2016-04-09 14:03] #539 closed

[2016-04-11 06:19] AneesUrRehman opened #543 "GrailsContextLoaderListener - Error initializing the application"
I appliied Docker-Java in my project , but when i add
class DockerService {
DockerClient dockerClient = DockerClientBuilder.getInstance("http://localhost:2375").build();

Then its shows the error.............
..............................................................................................................................................................

| Running Grails application
|

[2016-04-11 06:44] marcuslinke commented on #543
According to `Caused by ClassNotFoundException: com.google.common.base.Preconditions` you probably have the wrong google guice library in your classpath. Or it is missing at all. You have to ensure that all docker-java runtime dependencies are in the classpath.

[2016-04-11 06:45] #543 closed

[2016-04-11 11:14] jeantil commented on #537
@marcuslinke I tried updating `DockerClientTest.java` (or more accurately `AbstractDockerClientTest`) to use the prescribed setup :
[code]
Here is what I get when i try running the code:
[code]

[2016-04-11 11:56] marcuslinke commented on #537
@jeantil Thanks for testing this. It seems netty supports domain sockets only for linux yet. See https://github.com/netty/netty/issues/4231

[2016-04-11 22:37] AndrewGuenther opened #544 "Question: If Docker API returns an error, what happens?"
I've been trying to tear through the 30 layers of abstraction, but it is proving near impossible to decipher what is going on.

All I want to know is what happens if the remote API returns an error.

[2016-04-11 23:40] c2j opened #545 "Start container by swarm report error: memory.swappiness: invalid argument"
Cannot start container 158a4580766e384afa64e2bf5f19cf6ec4e345cb3d54b27dd7aa5de08c582958: [8] System error: write /sys/fs/cgroup/memory/system.slice/docker/158a4580766e384afa64e2bf5f19cf6ec4e345cb3d54b27dd7aa5de08c582958/memory.swappiness: invalid argument

Direct start container by docker engine without this issue.

May related with swarm?

[2016-04-12 06:09] marcuslinke commented on #544
If the remote API returns with an http error state a `DockerException` is thrown. There are some specialized subclasses of `DockerException` like `InternalServerErrorException` for example (see https://github.com/docker-java/docker-java/tree/master/src/main/java/com/github/dockerjava/api/exception for details)

[2016-04-12 06:09] #544 closed

[2016-04-12 06:11] marcuslinke commented on #544
You could also enable debug logging of docker-java by putting this [file](https://github.com/docker-java/docker-java/blob/master/src/test/resources/logback.xml) in your classpath.

[2016-04-12 07:30] jeantil commented on #537
Hello @marcuslinke

I checked the netty issue and it doesn't look like it's going to be resolved any time soon. I am willing to try to make a PR to docker-java which would follow @gesellix 's advice :
- drop the unused `unix-socket-factory` dependency
- add a direct dependency on junixsocket 2.0.x

As it seems to be the fastest way to a working setup on osx.
What do you think ?

--
Best regards,
J

[2016-04-12 07:43] marcuslinke commented on #537
@jeantil I agree with you about the netty issue but this rises a problem to docker-java. The netty impl is planned to replace the jersey/jax-rs implementation because netty supports the tcp upgrade procedure that is needed for `docker exec` functionality. I'm not sure how to deal with this problem currently, so I wouldn't accept a PR in this situation. Do you know whether docker4mac is also reacha

[2016-04-12 07:54] jeantil commented on #537
Nope but I reported this issue on the [docker4mac forum](https://forums.docker.com/t/docker4max-compatibility-issues-with-java-client-libraries/8920) hopefully we will figure something out :)

[2016-04-13 07:12] qingmo opened #546 "inspectContainerCmd compatible with docker-swarm"
after compare restful api of docker and swarm. the only difference is in
{
...
  "Node": {
    "ID": "ZN3S:DPLW:2PXV:KIL7:2ARF:IH4P:T4SD:CI3D:XW2Z:3BPH:SB6I:3XMC",
    "IP": "10.5.5.54",
    "Addr": "10.5.5.54:2375",
    "Name": "lab54",
    "Cpus": 4,
    "Memory": 8083677184,
    "Labels": {
      "executiondriver": "native-0.2",
      "kernelversion": "3.10.0-327.10.1.el7.x86_64",
      "operat

[2016-04-13 07:59] jeantil commented on #537
I got an [answer](https://forums.docker.com/t/docker4max-compatibility-issues-with-java-client-libraries/8920/2?u=jeantil) on the docker4mac forum

Tried to run `mvn clean verify` with the netty command executer:
-   `export DOCKER_HOST="http://docker.local:2375"` (I get an error saying I must choose between unix and tcp)
-  ` export DOCKER_HOST="tcp://docker.local:2375"` (I get a null pointer err

[2016-04-13 08:08] KostyaSha commented on #546
Hi we would really want to end 3.0.0 and we have only network api unimplemented. We planned swarm for the next version. So i not sure. You could also point docker-java on previous API version and get mounts in old format and this way should work.

[2016-04-13 08:10] KostyaSha commented on #537
@jeantil try append `/` tail to URL this hack works sometimes.

[2016-04-13 08:16] gesellix commented on #537
You should try `http://localhost:2375`.

Am 13.04.2016 9:59 vorm. schrieb Jean Helou <notifications@github.com>:I got an answer on the docker4mac forum

Currently you can talk to the docker daemon over http on docker.local port 2375. This was not intended to be a permanent feature but there has been demand so we may retain it (and/or move to https).

Tried to run mvn clean verify with the netty co

[2016-04-13 08:18] KostyaSha commented on #537
@gesellix seems like replies from email are messy :(

[2016-04-13 08:20] jeantil commented on #537
@gesellix I am pretty sure localhost:2375 will not work, the docker4mac daemon is still running in a vm (on the osx hypervisro through xhyve)

[code]

[2016-04-13 08:21] KostyaSha commented on #537
[code]

[2016-04-13 08:22] marcuslinke commented on #537
@jeantil What should work for both implementations is:

[code]

If this is not working for you please post stacktrace here.

[2016-04-13 08:27] gesellix commented on #537
@KostyaSha yes, sorry.

@jeantil please just give it a try. It worked for me. I tried: `curl -X GET "http://localhost:2375"`. The `DOCKER_HOST` for docker-java seems to rely on a value starting with `tcp://`, though. But `localhost:2375` is the way to go when trying to talk to the Daemon. Accessing containers is then possible via `docker.local`.

[2016-04-13 08:29] gesellix commented on #537
argh. sorry for the confusion, I tried on my Windows box, where localhost seems to be correct, but you're talking about OS X. Forget my last comment.

[2016-04-13 08:31] gesellix commented on #537
hm. I gave it a try now on OS X. This one works for me by simply pasting into my browser: [http://docker.local:2375/info](http://docker.local:2375/info).

[2016-04-13 08:31] jeantil commented on #537
@marcuslinke that did it : the integration tests are running and they went beyond the `before test` phase

[2016-04-13 08:32] gesellix commented on #537
@marcuslinke one explicitly needs to disable `DOCKER_TLS_VERIFY`?

[2016-04-13 08:36] KostyaSha commented on #537
Because tls expected by default and seems it not secured.

[2016-04-13 08:38] marcuslinke commented on #537
@gesellix Yes. docker-java prefers secured connection in its default configuration file as most docker distributions do also nowadays.

[2016-04-13 08:39] gesellix commented on #537
ah, didn't know - I should read the docs, I guess ;-)

[2016-04-13 08:41] marcuslinke commented on #537
Hope the docker4mac guys will implement a port forwarding to the vm so localhost will also work.

[2016-04-13 08:43] marcuslinke commented on #537
@gesellix I'm not really sure whether this is documented now...

[2016-04-13 08:45] gesellix commented on #537
I'd prefer the unix socket: no TLS/certificate hassle...

@marcuslinke maybe don't add it now, it might be obsolete soon ;-)

[2016-04-13 09:35] marcuslinke commented on #537
@gesellix Unfortunately I don't think so:

[2016-04-14 04:00] betehess opened #547 "Mounting files as volumes doesn't work"
Mounting a file does not work and invalidates the other volumes.

Mounting a directory works fine.

I am on Docker 1.11.0 on OSX. I am using 3.0.0-RC4 of the library.

[2016-04-14 04:25] betehess commented on #547
My bad, I was using two `withBinds` in a row instead of providing a list of `Binds`...

[2016-04-14 04:25] #547 closed

[2016-04-17 02:02] igorspasic commented on #546
Hey @KostyaSha I do understand, but can you at least map this Node field from JSON to something that is readable in Java? I mean, this one is really kind of important, and for the first time it can be just matter of mapping?

[2016-04-18 10:57] osek666 opened #551 "Error during image build when Dockerfile in subdirectory of build context"
Hello!

I try to build docker image with your library and think I found a bug.
I have such project structure:
[code]
In my Dockerfile:
[code]
I try to build image with code:
[code]

I get error: Could not build image: lstat target/app.jar: no such file or directory

I think there is bug in class Dockerfile.
In method processAddStatement() is line
[code]
and dockerFolder is parent directory of Dock

[2016-04-18 11:40] KostyaSha commented on #551
please provide PR

Sent from my iPad

[2016-04-18 16:46] llamahunter opened #552 "docker api v1.23 support"
Fun times... docker released a new API version with docker machine v1.11.  I realize that docker-java is still working towards the 3.0.0 release for api v1.22, but is there a general timeline for new api support?

In the meantime, holding off my developers from rushing forward to the latest and greatest.

[2016-04-18 17:50] KostyaSha commented on #552
Please remember that you can target docker-java to specific API version by setting it explicitly in client. That shouldn't block you from updating daemons!

[2016-04-18 18:55] llamahunter commented on #552
hmm... yes, now that I added such support in gradle-docker-plugin, to work around the problems in docker-java 2.2.3 described in #506, I suppose it's a non issue as far as developer upgrades go.  Still, it would be good to add v1.23 support someday.

fyi... gradle-docker-plugin is waiting for the release of 3.0.0 before they can pull the likely fix for #506

[2016-04-18 18:57] KostyaSha commented on #552
I can suggest start using RCs, in fact we are missing only network API (too difficult to implement tests) and netty seems wouldn't work for all cases (i.e. missing macos socket based connection for docker beta).

[2016-04-21 02:46] jbonjean opened #554 "Support volumes propagation flags"
Hi,
It would be nice to support the new volumes :[r]shared, :[r]slave and :[r]private propagation flags.
Thanks!

[2016-04-21 03:36] KostyaSha commented on #554
please link to API docs

[2016-04-21 03:47] jbonjean commented on #554
I couldn't find the corresponding doc. All I can tell you is that the feature has been available in the docker client since 1.10, here is the pull request: https://github.com/docker/docker/pull/17034

[2016-04-21 03:50] jbonjean commented on #554
And it seems the missing documentation is a know issue :) https://github.com/docker/docker/issues/20656

[2016-04-22 18:29] #531 closed

[2016-04-25 08:26] lukaslentner opened #555 "How Docker Exec"
Hi,

using version 2.2.2 I try to execute a command inside the running docker container. There is no error thrown, but also no effects of my command. Is this the correct way to execute a command??

[code]

There are not much examples about using this part of the api ...

[2016-04-25 08:47] lukaslentner commented on #555
Sorry, got it. Can be closed ...

[2016-04-25 08:47] #555 closed

[2016-04-25 12:43] PatrickHuetter commented on #198
This is really important as it seems to be a problem also here: https://github.com/bmuschko/gradle-docker-plugin/issues/187#issuecomment-214267178 (the plugin is using the docker-java library).

It's really inflexible with Dockerfiles always within the context.

[2016-04-28 09:43] dlouwers commented on #537
@gesellix It is, though this is rather insecure:
[code]

[2016-04-28 09:46] gesellix commented on #537
@dlouwers technically insecure, but only available on your localhost I suppose? You only loose "file access" permission checks compared to unix sockets.

[2016-04-28 09:49] gesellix commented on #537
Generally speaking: there _is_ a way of hacking certificates into your Docker for Mac VM: https://forums.docker.com/t/adding-self-signed-certificates/9761 - but it's a hack, it only works until the next Docker.app restart and it's certainly not a solution for everyone.

[2016-04-28 10:28] KostyaSha commented on #537
if docker daemon port available only for this PC, then it should be ok to use tcp. I don't think that anybody using beta in prod.

[2016-04-28 12:05] larochef opened #556 "Support for port ranges in port bindings"
ATM, port binding is 1 to 1, where both sides are ints. Which means, you can easilly map port 8080 to 9000.

But docker also supports specifying port ranges, that means that:

- You can map a range of ports from the container to the host, for instance 8000-9000:8000-9000
- You can map a particular port from the container to a range of ports, for instance 8000-9000:8080

In order to do that, the po

[2016-04-28 12:52] KostyaSha commented on #556
Is it supported in api? What request docker cli sends for such requirement?

[2016-04-28 13:14] larochef commented on #556
I checked using debug mode, I typed

docker -H tcp://127.0.0.1:2375 run --rm -it -p '50000-60000:80' ubuntu /bin/bash

and here's what I saw in the logs:

POST /containers/create
....
"PortBindings":{"80/tcp":[{"HostIp":"","HostPort":"50000-60000"}]
....

I guess for the other range it will do:

....
"PortBindings":{"8000-9000/tcp":[{"HostIp":"","HostPort":"8000-9000"}]
....

[2016-04-28 13:27] KostyaSha commented on #556
Then we need switch to string... Could you provide PoC PR?

[2016-04-28 13:42] larochef commented on #556
Ok, I'll try to do it this week end.
I'll keep in touch in this thread if there are things too deep inside.

[2016-04-28 19:46] jeantil commented on #537
It looks like the workaround based on docker.local is about to die. the last mail from docker team regarding the beta states that the network stack has been reworked and docker.local is no longer available.

[2016-04-28 19:48] KostyaSha commented on #537
yes, i just read the same :( Still have no enough time for docker-java :(

[2016-04-29 06:48] laissandrade commented on #537
Hey guys, I'm experiencing the same EOF while using `DOCKER_HOST="unix:///var/tmp/docker.sock"`.
I tried to drop the unix-socket-factory dependency and add a direct dependency on junixsocket 2.0.x, but I still get the same error here.

Any news on how to make this work on OS X?

[2016-04-29 06:53] eduardolundgren commented on #537
I am also experiencing the same EOF issue. It only happens when socket is requested from Java apparently, other clients seems to work well for different commands:

`curl --unix-socket /var/run/docker.sock -XGET http://localhost/v1.22/networks -v`

One workaround would be to be able to initialize Docker Native on tcp instead. Although, after `docker.local` got removed on `v1.11.0-beta9` seems like

[2016-04-29 09:32] dlouwers commented on #537
@gesellix I meant insecure as in cross site scriptable from the browser afaics

@eduardolundgren I have been able to forward the socket to tcp on localhost

[code]

This seems to work well since I can cURL in perfectly. Docker cli is also happy. However docker-java doesn't seem to pick it up yet somehow. Will have to investigate further.

[2016-04-29 09:36] gesellix commented on #537
@dlouwers not sure either, but you're right that even on localhost secure connections can make sense

regarding the `unset DOCKER_TLS_VERIFY`: you might try to `DOCKER_TLS_VERIFY=0`. See https://github.com/docker-java/docker-java/issues/537#issuecomment-209304636

[2016-04-29 09:38] dlouwers commented on #537
@gesellix I did try that and made the client fail (as it should) since the manual states:

[2016-04-29 09:46] gesellix commented on #537
@dlouwers you're right. Meh.

[2016-04-29 16:30] eduardolundgren commented on #537
@dlouwers Are you on docker native (osx) v1.11.0-beta9?

[2016-04-29 17:19] eduardolundgren commented on #537
@dlouwers Yes, using `socat` I was also able to link to `tcp/2375`. Now trying to make `docker-java` to work with that as well. Thanks.

[2016-04-29 22:59] laissandrade commented on #537
Hey @dlouwers, I was able to make docker-java work with `tcp://localhost:2375` from `socat` only by using the netty implementation of `DockerCmdExecFactory`. Did you try it?

[2016-04-30 12:28] ylorenza opened #557 "docker java generate empty filter instead of no filter"
When i use ListContainersCmd with no filter, i expext to generate a request like that : /v1.23/containers/json

but with docker java i have that : /containers/json?filters=%7B%7D

That's because in ListContainersCmdExec
[code]

but command.getFilters() is never null, it's a Builder and it return an empty but not null map.

If you are ok i do a PR

[2016-04-30 13:52] marcuslinke commented on #557
Nice finding! Awaiting your PR. Thanks!

[2016-04-30 16:13] ylorenza commented on #557
already done

[2016-04-30 17:29] marcuslinke commented on #557
Closed via https://github.com/docker-java/docker-java/pull/558

[2016-04-30 17:29] #557 closed

[2016-04-30 17:32] marcuslinke commented on #557
@ylorenza Thanks!

[2016-05-01 08:03] AneesUrRehman opened #559 "Create new Docker container, start and stop it: ERROR"
i am going to add examples from docker-java wiki and not succed to create cxontainer example. i am on grails 2.4
my issue is
![screenshot from 2016-05-01 13 02 46](https://cloud.githubusercontent.com/assets/12816566/14940773/12c13ada-0f9d-11e6-8657-6fd9f166eb46.png)

[2016-05-01 08:26] marcuslinke commented on #559
As stated in the error message the image `busybox:latest` can't be found locally. You need to pull it before you can create a container. Please note that docker-java doesn't implement docker CLI behavior. It's just a wrapper around docker remote API (https://docs.docker.com/engine/reference/api/docker_remote_api/).

[2016-05-01 08:26] #559 closed

[2016-05-01 08:39] vuminhkh opened #560 "Memory leak in netty implementation of DockerCmdExecFactory"
Hello,

I'm having this kind of log in my application:

08:34:25.715 ERROR ResourceLeakDetector - LEAK: ByteBuf.release() was not called before it's garbage-collected. Enable advanced leak reporting to find out where the leak occurred. To enable advanced leak reporting, specify the JVM option '-Dio.netty.leakDetection.level=advanced' or call ResourceLeakDetector.setLevel() See http://netty.io/wiki

[2016-05-01 10:28] vuminhkh opened #561 "Random error while building image"
Hello,

When I build an image for the first time, then as the required parent image does not exist on local machine, the swarm docker daemon will pull the parent image. I'm having an error (which disappears  the next time I perform the build when the parent image has been pulled):
[code]
Thanks,

Minh Khang VU

[2016-05-01 15:41] marcuslinke commented on #560
@vuminhkh No thats not a known issue. Would it be possible for you to set `'-Dio.netty.leakDetection.level=advanced'` as described to find the leak please?

[2016-05-01 17:46] vuminhkh commented on #560
With leak detection enabled:

17:45:53.384 ERROR ResourceLeakDetector - LEAK: ByteBuf.release() was not called before it's garbage-collected. See http://netty.io/wiki/reference-counted-objects.html for more information.
Recent access records: 0
Created at:
	io.netty.buffer.PooledByteBufAllocator.newDirectBuffer(PooledByteBufAllocator.java:271)
	io.netty.buffer.AbstractByteBufAllocator.directBuffer

[2016-05-01 17:50] vuminhkh commented on #560
In com.github.dockerjava.netty.handler.HttpResponseHandler, there's also a ByteBuff 'errorBody' that seem not to be released

[2016-05-01 17:59] vuminhkh commented on #560
In com.github.dockerjava.netty.handler.FramedResponseStreamHandler , autoRelease from super class SimpleChannelInboundHandler is not set to true, might it be an issue ? Anyway with my use case for the moment the stack that I copied is the only one that I reproduced.

[2016-05-01 18:50] marcuslinke commented on #560
@vuminhkh Thanks! `FramedResponseStreamHandler` calls super constructor `protected SimpleChannelInboundHandler() {
        this(true);
    }` implicitely so `autoRelease` is set to `true`. I think the problem is with `msg.copy()` here https://github.com/docker-java/docker-java/blob/master/src/main/java/com/github/dockerjava/netty/handler/FramedResponseStreamHandler.java#L48.

[2016-05-01 18:58] marcuslinke commented on #560
@vuminhkh As I don't know how to reproduce this I would like to ask you if you could check out docker-java sources, remove the `copy()` operation so the line looks like the following, recompile and test against this version.

[code]

[2016-05-01 19:14] marcuslinke commented on #561
@vuminhkh Maybe this is related to swarm? Could you repeat the very same procedure against standalone docker deamon please? If this is swarm related then it would need a network packet dump via Wireshark or tcpdump probably.

[2016-05-01 19:19] marcuslinke commented on #561
Decoded error message `2c2270726f6772657373223a225b3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d5c753030336520202020202020202020202020202020202020202020202020202020202020202020205d20352e383937204d422f31382e3533204d42222c226964223a22386333373532636230633235227d7b22737461747573223a22446f776e6c6f6164696e67222c2270726f677265737344657461696c223a7b2263757272656e74223a33373232333535342c22746f74616c223a3531333637`:
[cod

[2016-05-01 19:22] #437 closed

[2016-05-01 20:23] vuminhkh commented on #560
@marcuslinke I don't see the error anymore with your fix. As It's random error, I'll continue to test for a while to be really sure. Thank you.

[2016-05-02 05:03] marcuslinke commented on #560
@vuminhkh Thanks! I will fix this in master then.

[2016-05-02 19:20] larochef commented on #556
So I've worked on it, but got a problem : the integration tests don't pass. After some investigation, it has nothing to do with me (except the fact that I'm on linux and don't have warnings or the same error messages from docker hub). Is it something known ?

I could figure out a few of them, but not all.

Here are a few things I saw:

Some of the Dockerfile (ngnx, netcat and the nonstandard) want

[2016-05-02 19:50] marcuslinke commented on #560
Closed via #563

[2016-05-02 19:50] #560 closed

[2016-05-02 19:56] #536 closed

[2016-05-03 05:12] langziming opened #564 "container run with daemon"
I have a trouble, can you help me?  the issue as follows
Affter I create a container with the remote api “container/{id}/create” ,
when I start container with remote api "container/{id}/start"
it is not run with daemon,
（AS the command "docker run -d xxx:xxxx"   , Arguments "-d"  ) 。

[2016-05-03 05:16] marcuslinke commented on #564
Post docker-java code example please!

[2016-05-03 05:39] langziming commented on #564
my code as fllows

ListImagesCmd list = docker.listImagesCmd();
			CreateContainerResponse container = docker.createContainerCmd("ubuntu:latest").exec();
			docker.startContainerCmd(container.getId()).exec();

[2016-05-03 06:05] langziming commented on #564
thank you
when i create and start as another image, it is work

[2016-05-03 06:16] marcuslinke commented on #564
You have not passed any CMD while container creation (via `createContainerCmd.withCmd(...)`). See https://github.com/docker-java/docker-java/wiki#create-new-docker-container-start-and-stop-it

Starting a container without a CMD doesn't make sense. A container exists as long as the process with PID 1 is running. The command for this process is referred as CMD in the Dockerfile or is passed while cr

[2016-05-03 06:16] #564 closed

[2016-05-03 06:25] marcuslinke commented on #564
Forget my latest comment. Dockerfile for `ubuntu:latest` has CMD set so your code should just start a `bash` shell and terminate right after that.

[2016-05-03 07:56] KostyaSha commented on #564
Reply from train…
Probably he need attach stdin and keep it open either bash will exist asap.

[2016-05-03 13:29] lordofthejars opened #567 "IPAM config is not setable"
IPAM config is not setable https://github.com/docker-java/docker-java/blob/master/src/main/java/com/github/dockerjava/api/model/Network.java#L130 so how can it be created a Config object for setting in `withIpamConfig` method?

[2016-05-03 14:33] KostyaSha commented on #567
Seems it used only in response, so try use where request object is, either it unsupported.

[2016-05-03 14:36] lordofthejars commented on #567
Well it seems it should be valid as input as well according to docker remote api

[2016-05-03 16:28] marcuslinke commented on #556
Related documentation: https://docs.docker.com/engine/reference/run/#expose-incoming-ports

               format: ip:hostPort:containerPort | ip::containerPort | hostPort:containerPort | containerPort
               Both hostPort and containerPort can be specified as a
               range of ports. When specifying ranges for both, the
               number of container ports in the range must ma

[2016-05-04 07:08] qingmo opened #568 "don't have a proper response when pass an wrong dockerId to functions"
if pass any wrong string dockerid(not null), in docker.com return an 404 or not found. but docker-java can not catch those infomation properly.

[2016-05-04 07:10] marcuslinke commented on #568
what is a dockerid?

[2016-05-04 07:10] marcuslinke commented on #568
what functions? examples?

[2016-05-04 07:30] #568 closed

[2016-05-04 19:26] rnorth commented on #537
Related to this, it [sounds as though](https://forums.docker.com/t/worked-around-docker-http-s-api-no-longer-available-in-beta9/10474/9) the TCP socket will be going away on Docker for Windows as well, to be replaced with named pipes. I'm guessing this will be another pain point for us, unless there's named pipe support in netty that I'm not finding.

Re Docker for Mac and docker-java: I've been p

[2016-05-04 19:39] gesellix commented on #537
In my experience named pipes are easier to adapt compared to unix sockets, since they behave more like files. Check out this one for a working proof of concept: https://github.com/gesellix/docker-client/blob/master/src/main/groovy/de/gesellix/docker/client/protocolhandler/urlstreamhandler/HttpOverNamedPipeClient.groovy#L38

I'm not experienced with adapting such a hack to Netty, though :-/

[2016-05-05 18:58] vuminhkh opened #569 "Node information in inspect container response"
Hello,

I found out that the "Node" key is missing in the InspectContainerResponse model (it's only available in swarm environment) :

docker inspect 4414792b06a6
[
    {
        "Id": "4414792b06a6e8349bef703619fc8f4a1b88c7e4f482dc78575e1b3ed872f51a",
       ...
        "Node": {
            "ID": "7Z5I:GYD7:LVJZ:3DRS:X2BV:SLCN:BPQ6:6PBN:DKZL:MU4J:HLM5:GDAU",
            "IP": "192.168.1.3",

[2016-05-05 19:03] vuminhkh commented on #567
I think it's related to my pull request https://github.com/docker-java/docker-java/pull/550

[2016-05-05 19:13] vuminhkh commented on #569
Sorry, it seems related to https://github.com/docker-java/docker-java/pull/459 I'll wait then.

[2016-05-05 19:13] #569 closed

[2016-05-06 09:56] orzeh opened #570 "WaitContainerResultCallback does not throw exception with information about timeout"
Method `awaitStatusCode(long timeout, TimeUnit timeUnit)` does not throw exception with proper error message in case of a timeout. Now if waiting for a container timeouts,  `DockerClientException`  is thrown with generic message _"Error while wait container"_ (exception thrown from `getStatusCode()` method). This could be misleading.

[2016-05-08 10:23] smattheis opened #573 "Run container with image from private registry version 2 gives connection refused"
I'm trying to run a container (within Docker Swarm) from a private insecure registry (version 2) that I  configuring in the application as follows:

[code]

The error message is as follows:

[code]

However, it seems that docker-java tries to connect to https://192.168.99.100/v1/ ... In particular, it seems to take the IP address of the registry but not Non-HTTPS, nor the port 5000 and also not ve

[2016-05-08 15:58] marcuslinke commented on #573
Could you try the following please?

[code]

[2016-05-08 18:16] #570 closed

[2016-05-08 21:53] smattheis commented on #573
Thanks, it's working perfectly. Actually, I had another issue with buffered images in Docker Swarm so the true exception for the shown code is not "connection refused" but something like "cannot find library/myimage".
Using `docker.createContainerCmd("192.168.99.100:5000/myimage")`it's then working in the end. Thanks!
P.S. I could imagine that configuring the use of a private registry with `.withR

[2016-05-08 21:53] #573 closed

[2016-05-09 15:44] dlouwers commented on #537
@eduardolundgren Using 1.11.1-beta10
@laissandrade Interesting. I have not been able to locate this alternative implementation. What is it's class name?

[2016-05-09 22:21] crazyproger commented on #546
@KostyaSha please create 3.1.0-RC version as fork of current 3.0.0-RC with `Node` field in it.

[2016-05-10 04:51] laissandrade commented on #537
Hey, we are heaving some problems that might be related to this workaround for unix sockets. For example, to create an image and `awaitImageId` is sometimes failing on docker beta because the callback is completed before docker stream is completely consumed. Do you guys plan to give support for direct usage of `unix:///var/run/docker.sock` soon?

[2016-05-10 08:37] dlouwers opened #576 "Inconsistent interpretation of DOCKER_TLS_VERIFY"
The Docker CLI client will use TLS (and look for a certificate file) when DOCKER_TLS_VERIFY is set to ANY value. The docker-java library will always try to use TLS unless DOCKER_TLS_VERIFY=0. This is inconsistent and causes settings that work with docker-java to break usage of the Docker CLI client.

[2016-05-10 17:30] marcuslinke commented on #576
For this we have to change default [docker-java.properties](https://github.com/docker-java/docker-java/blob/master/src/main/resources/docker-java.properties) that prefers tls connections currently. Maybe we should preconfigure local unix domain socket connection there...

[2016-05-10 20:44] dlouwers commented on #576
I think just DOCKER_HOST=unix:///var/run/docker.sock would make sense since that is the default for Docker CLI as well. AFAIK other settings aren't assumed next to this.

[2016-05-11 11:08] alexec opened #577 "Lets get an IntelliJ OpenSource Ultimate Licence for Docker Java developers"
Hi @marcuslinke, @KostyaSha , @kpelykh,

Are you IDEA users, if so I think we could get a free open source licence for the ultimate edition.

https://www.jetbrains.com/shop/eform/opensource?product=II

I'm quite happy to do the paperwork myself.

[2016-05-11 11:09] KostyaSha commented on #577
Hi, i own license for docker-java from JetBrainz. Can share it to you via email if you fit into their license requirements.

[2016-05-11 15:08] KostyaSha commented on #577
I was unable to find your email. Please send it me personally to my email.

[2016-05-11 17:31] alexec commented on #577
No need to share. The open sourc license will be really good!

[2016-05-11 17:41] KostyaSha commented on #577
Sorry, what do you mean? If you need ultimate license for docker-java, please write me your email.
[code]
If you want to you open source IDEA version, then you don't need ask us to do it.

[2016-05-11 17:42] #577 closed

[2016-05-12 19:08] marcuslinke commented on #551
Closed via #578

[2016-05-12 19:08] #551 closed

[2016-05-12 19:10] marcuslinke commented on #567
Closed via #550

[2016-05-12 19:10] #567 closed

[2016-05-12 19:12] marcuslinke commented on #556
Closed via #575

[2016-05-12 19:12] #556 closed

[2016-05-12 22:07] marcuslinke commented on #545
I think this is related: https://github.com/docker/swarm/issues/1411

[2016-05-15 17:39] alexec commented on #577
@marcuslinke, @KostyaSha , @kpelykh, -- I have 4 keys (3 left) for the Ultimate edition. If you want one, let me know your email, and I'll send you link to get it.

[2016-05-15 19:08] KostyaSha commented on #577
@alexec sorry, but i don't understand why do you need request personally them while i'm the contact person for docker-java licenses. I already informed @marcuslinke that he can get license if he needs it like any other developer. I said that you should send me your email if you want license, now you posting the same information.

[2016-05-15 21:21] tompson commented on #537
I just watched https://www.youtube.com/watch?v=rYDJcKSbIdA and noticed that Eclipse is already able to use the unix socket to connect to Docker Native on OS X - IntelliJ is not

What libraries are they using?

[2016-05-15 22:20] gesellix commented on #537
@tompson: probably that one: https://github.com/spotify/docker-client

[2016-05-16 14:48] vuminhkh opened #581 "Exec freeze when 2 exec starts are executed in concurrence (with netty exec factory)"
Hello,

I'm running exec with this code
[code]

For the context, i'm running long installation scripts which perform download of binaries and then install them, so each command takes some minutes to finish.
If i'm running one command after another, everything is fine, but if i'm running 2 of them in concurrence then
[code]
will never finish for one of the command.
Any idea of what happens ? Thank

[2016-05-16 17:29] Mouflin-Guillaume opened #582 "Error IncompatibleClassChange"
Hello,

I have this error :  java.lang.IncompatibleClassChangeError: Implementing class
when I launch my command :
 $ java -cp .:commons-lang3-3.0.jar:commons-io-1.2.jar:commons-cli-1.1.jar:rabbitmq-client.jar:java-json.jar:ffmpeg.jar:slf4j-api-1.6.1.jar:guava.jar:commons-io-2.4.r:gson-2.2.2.jar:docker-java-3.0.0-SNAPSHOT.jar:apache-commons-lang.jar:jackson-annotations-2.1.2.jar:AllPackage/*  Core

[2016-05-16 17:36] KostyaSha commented on #582
Why not use maven or gradle to get all deps automatically? Have you downloaded all transitive deps as well?

[2016-05-16 17:39] Mouflin-Guillaume commented on #582
I used maven but when I launch command Java -cp , I have java.lang.ClassNotFoundException

[2016-05-16 18:17] marcuslinke commented on #581
@vuminhkh Could you post some example code that shows how you run both in parallel please?

[2016-05-16 21:20] vuminhkh commented on #581
@marcuslinke it's a little bit complicated for me to extract the code, I'll try to do it when I can. The thing is this bug is random and when it happens, I can't even remove the container with `docker rm -f`. I don't really know for the moment if it's a docker-java bug or docker bug.

[2016-05-16 21:30] KostyaSha commented on #581
Check daemon logs.

[2016-05-16 21:37] KostyaSha commented on #581
Usually it's devicemapper.

[2016-05-16 21:52] vuminhkh commented on #581
I'm not seeing anything particular except it's saying that it failed to kill the container. Error at the end is when I tried to perform `docker exec -it test bash` after the `docker rm f` (which never returned).

`
May 16 20:46:04 ubuntu docker[20526]: time="2016-05-16T20:46:04.490888147Z" level=error msg="Handler for POST /containers/create returned error: Conflict. The name \"/test\" is already

[2016-05-16 22:54] vuminhkh commented on #581
I'm not really sure but it seems related to https://github.com/docker/docker/issues/18180
When the problem happens, I saw on the machine zombie process + high cpu usage.
I upgraded the kernel version from 4.2.0-19-generic to 4.2.0-36-generic and I do not see the problem anymore. Sorry for the false alert. I'll continue to test to be sure that it does not happen anymore. Thank you very much for you

[2016-05-19 09:03] KostyaSha commented on #577
Yes, i see, you got access to the same organisation (but seems i only administrator for it). You created additional team and  got `All Products Pack` for it, no idea why you need all JB products instead of just IDEA Ultimate that i offered initially.

[2016-05-24 09:48] opb commented on #537
Just to add to this - I'm using Pycharm by jetbrains on Mac and trying to set up using a remote docker interpreter. I believe Pycharm is using docker-java.

Instead of using docker machine integration, I'm trying to use the "local" docker as provided by the new beta docker functionality (1.11.1-beta10 ), by setting the docker API address in Pycharm to `unix:///var/run/docker.sock`. This yields the

[2016-05-24 18:19] jrrickard opened #584 "Issue with docker-java on CentOS"
I'm attempting to use the library to inspect an image with Docker 1.11.1 on CentOS and I'm seeing the following exception. This is working on my Mac with the Docker for Mac Beta. Looks like the major difference between the two environments is aufs is disabled on CentOS, so it's using the overlay fs.

Caused by: com.fasterxml.jackson.databind.exc.UnrecognizedPropertyException: Unrecognized field "R

[2016-05-24 18:40] KostyaSha commented on #584
What version do you use?

[2016-05-24 19:07] jrrickard commented on #584
@KostyaSha  I'm currently using 2.2.3, with jarx-rs.

 I'll try with the latest 3.x RC and report back. Looking at [GraphData.java](https://github.com/docker-java/docker-java/blob/8cc922d68e14421281fa45082e5df5d65f589575/src/main/java/com/github/dockerjava/api/command/GraphData.java) I suspect it will also produce the same exception.

On CentOS, docker inspect reports:
`
	"GraphDriver": {

[2016-05-24 19:33] KostyaSha commented on #584
2.2 is really outdated, either target to supported API version, either switch to 3.x RCs

[2016-05-24 20:22] jrrickard commented on #584
I don't believe switching to the 3.x RCs will fix the issue, as I mentioned, GraphData does not have the property and your current configuration of the Jackson ObjectMapper will fail on unknown properties.

I created a test using your current baseline and got the following output, which is similar to my error:

`

testOverlayNetworkRootDir(com.github.dockerjava.api.command.InspectImageResponseTest

[2016-05-25 21:40] KostyaSha commented on #582
Well, you should create fat jar or application packaging, use maven-shade-plugin and not handle dependencies manually.

[2016-05-25 21:42] KostyaSha commented on #537
[code]
getting the same issue with 2.2.x and socat

[2016-05-26 02:32] yvdinesh commented on #537
Just wanted to chime in. I am hitting the same issue. With netty not providing native socket libraries for osx, and tcp://:2375 with socat not working, how will this be resolved? I feel that people are starting to pick up docker 4 mac beta and this should be resolved sooner rather than later.

[2016-05-26 05:12] eduardolundgren commented on #537
With `socat` and `DockerCmdExecFactoryImpl` you can at least make it work for now:

[code]

[2016-05-26 10:36] rnorth commented on #537
@KostyaSha and any others getting this issue when using testcontainers - there's an issue on the testcontainers repo tracking this (testcontainers/testcontainers-java#126). From my testing, the docker-java 3 release candidates, with latest docker API support, work OK as long as the docker connection is proxied to the unix port (via socat or my [proxy experiment](https://github.com/testcontainers/t

[2016-05-26 15:14] cdancy commented on #340
Any chance to have a fat/shaded jar for the 3.0.0 release? This would help us (gradle-docker-plugin) in that trying to resolve this library, amongst many others being resolved, can result in unexpected versions of libraries breaking either this library or others being resolved.

[2016-05-26 15:16] KostyaSha commented on #340
i'm testing 3.0.0 shading.

[2016-05-29 08:15] galyona opened #587 "Keep getting Connection refused build failure"
I'm trying to install on **Windows** 7. Are there any Windows-specific installation instructions?

I keep getting the following failure (copied from TestSuite.txt):

Tests run: 1053, Failures: 1, Errors: 0, Skipped: 1049, Time elapsed: 6.585 sec <<< FAILURE! - in TestSuite
beforeTest(com.github.dockerjava.client.DockerClientTest)  Time elapsed: 3.89 sec  <<< FAILURE!
javax.ws.rs.ProcessingExceptio

[2016-05-30 10:13] KostyaSha opened #588 "readTimeout connectTimeout for netty?"
@marcuslinke  did i miss something?

[2016-05-30 11:05] marcuslinke commented on #588
There are no generic timeouts implemented yet for netty factory. Is it a problem?

[2016-05-30 11:06] KostyaSha commented on #588
no, continue comparing. It strange that timeouts are not configurable.

[2016-05-30 11:17] marcuslinke commented on #588
Timeouts can be implemented explicitely by insering a special timeout handler into the channel pipeline.

[2016-05-30 14:04] francisdb commented on #480
by the way, creating `/var/lib/jenkins/.docker/certs` brings me back to #419 https protocol is not supported (3.0.0-RC4)

[2016-05-30 17:41] KostyaSha commented on #588
@marcuslinke how get SSLContext from already created connection or factory?
Use case, building connection with defaults that reading env vars and then want get created sslconfig/context from execfactory.

[2016-05-30 18:10] KostyaSha commented on #588
Hm... and DockerClientBuilder is not usable if i'm not using dockerCertPath because `.build()` calls `DockerClientConfig` constructor that checks `checkDockerCertPath`

[2016-05-30 19:38] gesellix commented on #537
@marcuslinke don't know whether you're aware of this one: https://github.com/softprops/unisockets#netty-1
It seems to be badly maintained, but it could be an inspiration. In fact, there are plenty of variants (JNI, JNR, JNA) trying to access native stuff from Java, each with its own pros and cons.

[2016-05-31 06:10] marcuslinke commented on #588
Maybe we have to introduce `DockerCmdExecFactory.getSSLContext()` then?

[2016-06-01 10:13] xautjzd commented on #564
If I want to start a container without specifying CMD eg: `/bin/bash` in daemon mode,  as `docker run -d image`, what should I do?

[2016-06-02 01:35] xautjzd opened #589 "How to check container status?"
After I try to start container using docker-java, I want to check if it has been started, but I can't find any methods that can do it(I haved read tests, but can't find it). Is there anybody can help me? Belows are my trial:

[code]

[2016-06-02 05:23] marcuslinke commented on #589
I guess `InspectContainerResponse.getState()` should contain the needed information.

[2016-06-02 05:25] marcuslinke commented on #581
OK. Closing for now. Feel free to reopen if the issue occurs again.

[2016-06-02 05:25] #581 closed

[2016-06-02 05:27] marcuslinke commented on #587
Port 2376 is usually used for TLS/SSL/https connection, so you have to provide certs via DOCKER_CERT_PATH variable and switch DOCKER_TLS_VERIFY to 1.

[2016-06-02 11:11] KostyaSha commented on #589
@xautjzd please follow docker API documentation. Status was renamed to state between some API versions. docker-java follows changes.

[2016-06-02 11:11] #589 closed

[2016-06-02 20:51] marcuslinke commented on #480
related: https://github.com/docker-java/docker-java/issues/576

[2016-06-02 20:54] KostyaSha commented on #480
No need to bundle defaults in classpaths. If somebody doesn't like variables inheritance then it free to implement own clientconfig (or we didn't expose enough methods?).

[2016-06-03 19:16] marcuslinke commented on #576
Closed via #590

[2016-06-03 19:16] #576 closed

[2016-06-03 19:17] marcuslinke commented on #480
Closed via #590

[2016-06-03 19:17] #480 closed

[2016-06-03 19:18] marcuslinke commented on #584
Fixed via https://github.com/docker-java/docker-java/pull/585

[2016-06-03 19:18] #584 closed

[2016-06-03 19:22] marcuslinke commented on #229
Closing this as syncing with current remote API version is an epic issue that will (probably) never end.

[2016-06-03 19:22] #229 closed

[2016-06-06 00:24] KostyaSha commented on #588
#591 but i think my main issue is DockerClientConfigBuilder that wants dockerCertPath and doesn't know that SSL could be set in DockerCmdExec because it 2 different classes.

[2016-06-06 22:04] KostyaSha opened #592 "Implement devices string parser"
Relates to https://github.com/KostyaSha/yet-another-docker-plugin/issues/32

TODO add String parser for `Device.class` "/dev/sda:/dev/xvdc:r"

Parser
https://github.com/docker/docker/blob/6b4a46f28266031ce1a1315f17fb69113a06efe1/runconfig/opts/parse.go#L731-L764

Tests
https://github.com/docker/docker/blob/6b4a46f28266031ce1a1315f17fb69113a06efe1/runconfig/opts/parse_test.go#L468

[2016-06-07 16:36] stockiNail opened #594 "API Model classes not Serializable"
I see Java classes into "model" package are not Serializable.
Being the model classes, I think they should be. This enables the usage of these classes with other frameworks where the JAVA (or other) serialization is required (without invoking Jackson everytime).

[2016-06-07 21:42] #582 closed

[2016-06-07 21:42] #467 closed

[2016-06-08 18:59] #592 closed

[2016-06-09 02:10] sburnwal opened #595 "API for docker pull from registry server"
Is there any equivalent API for docker pull if I want to do pull from a registry server (like hub.docker.com) ? If yes, can someone give an example ?

[2016-06-09 05:18] marcuslinke commented on #595
See https://github.com/docker-java/docker-java/blob/master/src/test/java/com/github/dockerjava/core/command/PullImageCmdImplTest.java

[2016-06-09 05:18] #595 closed

[2016-06-09 05:22] marcuslinke commented on #440
Closed via https://github.com/docker-java/docker-java/pull/529

[2016-06-09 05:22] #440 closed

[2016-06-09 20:28] sburnwal opened #597 "API for pulling with content trust enabled"
Do we have any API with which I can do docker pull from a registry server with docker content trust enabled ? I know this is possible with the command line 'docker pull ...' but I am looking for programmatic way.

Or, is there any way to pull the docker image from a registry server to some temporary location and then do some md5 or sha1 signature validation check before loading the image into loca

[2016-06-09 20:50] KostyaSha commented on #597
docker-java is using docker API if docker daemon supports it - then yes. Please check docker api for your feature.

[2016-06-09 20:50] #597 closed

[2016-06-11 23:14] KostyaSha opened #598 "enhance tests"
TODO: make tests more reliable to re-runs, daemon sharing.

[code]

Fails because of previous runs containers conflicts.

[2016-06-12 18:56] KostyaSha opened #599 "Test error on master"
Continue implementing integration tests runs against different docker daemon versions and found that master fails. Image https://hub.docker.com/r/kostyasha/dind/tags/ `kostyasha/dind:fedora23-1.11` run proxied in socat https://github.com/KostyaSha/notes/wiki/Docker#proxy-docker-tls-connection-with-socat
[code]

[2016-06-13 18:17] cdancy opened #600 "Dockercon 2016?"
@KostyaSha @marcuslinke you guys going this year? Thought I'd come say hello and thanks as we ([gradle-docker-plugin](https://github.com/bmuschko/gradle-docker-plugin)) have used your library as our backend from the beginning.

[2016-06-13 18:57] KostyaSha commented on #600
@cdancy Would be very happy to participate, but US trip is expensive. Will wait for some Europe events :)

[2016-06-14 05:28] marcuslinke commented on #600
@cdancy Same here. However, thanks for using and contributing.

[2016-06-14 05:28] #600 closed

[2016-06-14 11:59] Hendrik-H opened #601 "can not start a container with just a custom network"
Hi,

when I use the docker CLI I can start a container using `docker run -d --net=<network-name> <image-name>`. Doing the same using `docker-java` seems to be impossible. I can use `docker.connectToNetworkCmd()` to add a connection to my custom network but then my container ends up with two network interfaces.

I tried using the `withNetworkMode` and `withNetworkDisabled` methods of the `createCon

[2016-06-14 12:16] KostyaSha commented on #601
Please check docker API whether they have methods that you want. docker-java is only library layer to their API.

[2016-06-14 12:46] Hendrik-H commented on #601
Ok, I checked the message that goes over the wire using the docker cli and noticed that `HostConfig / NetworkMode" is set to the ID of the custom network. Doing the same using the docker-java actually works the same. So if you want to your new container to connect to a custom network you can use `docker.createContainerCmd(imageName).cmd.withNetworkMode("<custom netowrk id>");` Maybe that is someth

[2016-06-14 17:40] #601 closed

[2016-06-15 09:41] elw00d opened #602 "inspectContainerCmd blocks until eventsCmd finished"
I use `3.0.0` with default settings:

[code]

This is reproduced not always. I will update this issue if will found more precise way to reproduce.

[2016-06-15 09:51] KostyaSha commented on #602
Run what you expect in separate thread?

[2016-06-15 10:36] elw00d commented on #602
No, it doesnt work, I tried this already.. I've found some workaround:

[code]

Seems it by default allows only 2 connections. I have two executed tasks: EventsCmd and LogsCmd running. And when I try to start third task, it waits for available connection.

Unfortunately, there is no way to configure these parameters without casting to `DockerClientImpl`. Hope you add this feature :)

[2016-06-15 10:38] KostyaSha commented on #602
Is it netty?
You shouldn't cast, just pass your custom dockerCmdExecFactory to Builder

[2016-06-15 10:42] elw00d commented on #602
Ow, thanks, I missed this. Now it looks like

[code]

It's jersey, netty doesnt work at all in 3.0.0 for me :)

[2016-06-15 10:43] KostyaSha commented on #602
What wrong with netty?

[2016-06-15 10:44] KostyaSha commented on #602
Yes, that it was supposed to be. If you don't like default, then pass your own options.

[2016-06-15 10:56] elw00d commented on #602
Thanks !

In netty I have next trace:

[code]

after listContainerCmd:

[code]

infoCmd works.

[2016-06-15 11:21] marcuslinke commented on #602
Seems this is a bug in netty impl. We probable have to use different constructor for `JsonObjectDecoder` there. See https://github.com/netty/netty/blob/4.1/codec/src/main/java/io/netty/handler/codec/json/JsonObjectDecoder.java#L68

[2016-06-15 11:26] marcuslinke opened #603 "netty impl throws TooLongFrameException if json response contains huge array"
Original issue described here: https://github.com/docker-java/docker-java/issues/602

[2016-06-15 11:29] KostyaSha commented on #602
@elw00d please create issue per issue :)

[2016-06-15 11:39] elw00d opened #604 "Jersey's connectTimeout, readTimeout causes strange errors"
If I specify timeouts

[code]

there are some errors later

[code]

If remove timeouts, all works fine.

[2016-06-15 11:40] KostyaSha commented on #604
Don't use  `.withReadTimeout(1000)` read would mean that jersey will close connection for execCmd that would have "sleep 1000" in bash. Because no more new data would be incoming.

[2016-06-15 12:55] elw00d commented on #604
Hmm, ok, thanks for information. Will use connectTimeout only

[2016-06-15 23:27] KostyaSha commented on #537
It released

[2016-06-15 23:36] KostyaSha commented on #537
If it would be useful, netty + socat works fine 🏧  https://github.com/KostyaSha/notes/wiki/Docker

[2016-06-16 21:03] cdancy opened #607 "Thoughts on setting `tlsVerify` to true if client sets `certPath`"
Is there any reason to not set `tlsVerify = true`, within the DockerClientConfig, when the user passes in the `certPath`?

[2016-06-16 21:09] KostyaSha commented on #607
I had the same thoughts, but what is the docker cli behaviour?

[2016-06-16 21:24] cdancy commented on #607
Looks to be you need both which is why, I have to imagine, you guys adopted this route. I'll ask around on docker IRC to see what the devs have to say. Seems setting the `certPath` implies tlsverify?

Even if they do both would it be better to copy them or make it easier on our users?

[2016-06-16 21:28] KostyaSha commented on #607
We can change to any behaviour in dockerbuiler. Maybe check docker cli sources?

[2016-06-16 21:44] marcuslinke commented on #607
Docker CLI disables TLS when DOCKER_TLS_VERIFY is unset or equal 0 regardless any DOCKER_CERT_PATH settings. As we evaluate the environment variables we should be compatible to docker CLI here.

[2016-06-16 21:44] #607 closed

[2016-06-16 21:49] marcuslinke commented on #604
@elw00d So this issue can be closed now?

[2016-06-16 22:48] KostyaSha commented on #607
it more crazy https://github.com/docker/docker/issues/22411
docker assume 0 - is enabled!

[2016-06-17 05:24] marcuslinke commented on #607
Acknowledged... Strange logic. However, I think we have to follow this.

[2016-06-17 05:28] marcuslinke opened #608 "DOCKER_TLS_VERIFY set to any value should enable TLS"
All of:

DOCKER_TLS_VERIFY=1
DOCKER_TLS_VERIFY=0
DOCKER_TLS_VERIFY=foo

enables TLS with docker CLI. Only missing or empty variable disables it. We should follow this (strange) logic to be fully compatible.

[2016-06-17 05:29] marcuslinke commented on #607
Created issue: https://github.com/docker-java/docker-java/issues/608

[2016-06-17 09:10] KostyaSha opened #609 "remove dot from variables in docker-java.properties"
travis:

[code]

[2016-06-17 09:53] KostyaSha commented on #608
stupid logic!

[2016-06-17 21:32] #604 closed

[2016-06-20 15:05] KostyaSha commented on #546
Duplicates #383

[2016-06-20 15:05] #546 closed

[2016-06-21 04:19] arun-gupta opened #614 "Add support for Docker for Mac"
Docker for Mac was made publicly accessible this morning at DockerCon. It would be useful to allow the API to connect with Docker for Mac.

This will allow us to use this API in Mobycraft: https://github.com/AdityaGupta1/mobycraft/issues/84

[2016-06-21 05:18] marcuslinke commented on #614
Duplicates https://github.com/docker-java/docker-java/issues/537

[2016-06-21 05:18] #614 closed

[2016-06-21 05:36] marcuslinke commented on #537
As netty will not support UDS on mac in the near future maybe we should do as @gesellix advised:

Additionally we have to support two implementations (jaxrs & netty) in parallel for a while what would recommend a multimodule project setup. WDYT? @KostyaSha, @jeantil , @gesellix

[2016-06-21 07:06] KostyaSha commented on #537
Dropping dependency - yes. Supporting two places with tests - not. Either tests should be parametrised and that remind me that i really want to use junit instead testng.

Multimodules - could benefit as i still have #432 , but that will mess git history of course...

Better somebody should finally fix/implement unix sockets supports.

Or it should be possible with one `socat` line proxy docker dae

[2016-06-21 23:34] m4dc4p opened #615 "Start Container Constructs Incorrect POST"
In docker-java-3.0.0,  the StartContainerCmdExec class sends a POST to the Docker API with garbage in the request body, resulting in an HTTP 400 or HTTP 500 (depending on the version of Docker.)

This Scala program reproduces the error reliably (against Docker 1.12):

[code]

Here is a trace of the relevant output. I marked the garbage in the body of  the POST request with `***`:

[code]

Note tha

[2016-06-22 05:51] smiklosovic commented on #342
could you elaborate on existing actual implementation more specifically please?

[2016-06-22 07:05] marcuslinke commented on #615
Thanks for reporting. Thats definitely a bug but it works with older remote API 1.23 therefore it wasn't found already.

[2016-06-22 10:35] KostyaSha commented on #615
Why bug? HostConfig isn't supported. In connection set apiVersion to 1.23 and everything would continue working. 1.24 support will be added later.

[2016-06-22 11:03] marcuslinke commented on #615
One would call it a bug because we sent an empty json object with the POST which is wrong  for v1.22 also.

[2016-06-22 18:31] eduardolundgren commented on #537
@KostyaSha Supporting unix socket on all environments is an important feature. Would be ideal if somebody can contribute the fix as you suggested, although this should be part of the roadmap. It's really painful to rely on `socat` external process in order for the client to work.

[2016-06-22 18:40] KostyaSha commented on #537
You should remember that native support is tricky thing, while `socat` is one line....

[2016-06-22 18:49] eduardolundgren commented on #537
@KostyaSha Understood. Though, distribute any code relying on docker-java client will require asking people to run `socat` first.

[2016-06-22 18:50] KostyaSha commented on #537
Well, then we can say that we rely on netty and it netty issue :)

[2016-06-22 18:54] eduardolundgren commented on #537
The best client for Docker available for Java currently is docker-java, easy and reliable api etc. The transport used in the underlying transport implementation doesn't matter as a consumer perspective, if it's Netty issue and Netty is one of our choice the library should work, otherwise we need to change it to something else that's reliable like the rest of the library.

[2016-06-22 21:00] gesellix commented on #537
As far as I understand the issue is not with supporting unix domain sockets in general, but Netty has problems in supporting them. So, what is the reason to use Netty?

[2016-06-22 21:02] KostyaSha commented on #537
@gesellix #397

[2016-06-22 21:04] gesellix commented on #537
ah, thanks @KostyaSha.

[2016-06-22 21:27] jeantil commented on #537
Just a couple notes :
- As you are probably aware the docker4mac docker4windows beta is now public, the number of people impacted by the current situation can be expected to grow pretty fast.
- Very few end users will take the time to perform a deep analysis of the issue, all they will see is that docker-java is broken for them. (or worse a library using docker-java, testcontainers in my case)

As

[2016-06-22 21:28] francisdb commented on #537
Unix sockets used to work fine before both on Mac and Linux. This is a serious regression.

[2016-06-22 21:30] KostyaSha commented on #537
Or ask docker to open HTTP port on loopback until library start supporting native sockets.

[2016-06-22 21:39] jeantil commented on #537
we kind of did, it was kind of ignored https://forums.docker.com/t/docker4max-compatibility-issues-with-java-client-libraries/8920

also quoting a [docker staffer](https://forums.docker.com/t/worked-around-docker-http-s-api-no-longer-available-in-beta9/10474/9?u=jeantil)

[2016-06-22 21:42] KostyaSha commented on #537
So, run socat in container? ;)

[2016-06-22 21:43] gesellix commented on #537
this one worked for me: bobrik/socat

[2016-06-22 21:44] KostyaSha commented on #537
one liner with install + run on any distro would work :)

[2016-06-22 21:45] gesellix commented on #537
docker run --rm -it -v /var/run/docker.sock:/var/run/docker.sock -p 2377:2375 bobrik/socat TCP-LISTEN:2375,reuseaddr,fork UNIX-CLIENT:/var/run/docker.sock

[2016-06-22 21:46] gesellix commented on #537
then, obviously, `DOCKER_HOST="http://localhost:2377"`.

[2016-06-22 21:47] KostyaSha commented on #537
No need to remove, just run as daemon with --restart=unless-stopped

[2016-06-22 21:47] gesellix commented on #537
depends on personal preference... I don't use it so much, because I don't have an issue with unix sockets ;-)

[2016-06-22 21:48] KostyaSha commented on #537
In this case that would be permanent workaround for users.

[2016-06-22 21:51] gesellix commented on #537
"permanent workaround" sounds like an oxymoron to me, but I see your point :-)

[2016-06-22 21:57] gesellix commented on #537
As a maintainer for an alternate docker client I had the same tradeoff to make: feature complete (including the attach stuff) versus usability for 95% of the use cases. That's why I understand the decision to switch to Netty, because it's simply no fun to manually handle Java Sockets on ones own. This also includes considerations of personal time even for such a popular project like docker-java.
M

[2016-06-22 22:19] eduardolundgren commented on #537
@KostyaSha Yes, Docker for Mac could also open `tcp/2375` by default to help workaround the issue for now. I've pinged @shyke about it here https://twitter.com/eduardolundgren/status/745694688930258947.

[2016-06-22 22:39] gesellix commented on #537
It's not just opening tcp/2375 by default: on which interface? Loopback would still need to be proxied and even the public interface of the VM might not be enough. What about Windows? What about TLS - that should be the default, then? I guess it's much simpler from the Docker perspective to use the Unix Socket/Named Pipe approach _by default_.
What's actually missing is a convenient way to configu

[2016-06-22 22:44] eduardolundgren commented on #537
@gesellix This is true for production that requires TLS, most of the time using Docker for Mac is for development though, and binding `tcp/2375` should be enough.

[2016-06-22 22:46] gesellix commented on #537
I'd still not prefer to open a port on my local machine by default. Even dev environments should have a small attack surface imho.

[2016-06-22 22:47] gesellix commented on #537
don't get me wrong: I don't oppose the idea of using tcp in general, but I guess the issue here is not with missing tcp, but with missing unix socket support.

[2016-06-22 22:53] eduardolundgren commented on #537
@gesellix The issue is unix socket on Mac and Docker for Mac doesn't allow to bind `tcp/2375` via `DOCKER_OPTS` or any other way anymore, therefore the only solution/workaround are: 1) Using `socat`; 2) Fixing Netty; 3) Docker for Mac to allow tcp binding by default or via options;

[2016-06-22 22:58] gesellix commented on #537
options:

1. using `socat`
2. fixing netty
3. allow tcp by default
4. allow tcp by option
5. replace netty

I would totally understand (and even support) if Docker wouldn't like to go for option 3.
Option 1 is obviously no solution.

[2016-06-23 06:22] lordofthejars opened #616 "Has anyone tried to connect to native Docker in MAC OSX?"
Has anyone tried to connect to native Docker in MAC OSX? Does native unix socket library works?

[2016-06-23 06:28] marcuslinke commented on #616
Duplicates https://github.com/docker-java/docker-java/issues/537

[2016-06-23 06:28] #616 closed

[2016-06-23 06:46] KostyaSha commented on #616
Please use search next time.

[2016-06-23 06:51] marcuslinke commented on #537
I would prefer a netty based solution not only because it allows to pass STDIN to the container but also because its non-blocking/async. As a general purpose library docker-java should support use-cases with scalability demands. Imagine a tool that has to manage hundreds or thousands of containers in parallel... Also netty supports more transports like websockets and http2. As docker might use the

[2016-06-23 07:41] gesellix commented on #537
Yes, especially the Apache HttpClient hurts for several use cases. Instead of Netty you might consider OkHttp (has Websockets and HTTP/2 support), but as you explained the scalability is certainly more guaranteed when using Netty.

[2016-06-27 12:41] borlander opened #617 "[feature] Support for server v1.12 / api v1.24"
Docker plugin for IntelliJ IDEs (https://plugins.jetbrains.com/plugin/7724) uses docker-java libraries for communication with docker remote API.

We are now receiving a lot of requests to support the new features available in server v1.12 (and remote API v1.24) and would like to understand what are your plans to support these versions.

[2016-06-27 12:47] KostyaSha commented on #617
Feel free to PR features with test cases.

[2016-06-27 15:27] maccesch commented on #617
+1

[2016-06-27 16:01] mark-anders commented on #617
+1

[2016-06-27 16:03] KostyaSha commented on #617
Guys, please place +1 in emotion and `subscribe` if you want to get notifications about updates. Thanks.

[2016-06-28 08:39] jiridudekusy commented on #617
+1

[2016-06-28 10:20] sevikkk commented on #617
Really we need bugfix for HostConfig first, and features as second goal.

Now IntelliJ is plain broken with Docker for Mac beta16, as HostConfig on start is an error now, instead of warning.

[2016-06-28 10:52] KostyaSha commented on #617
You still HAS ability to specify API version and it will continue working on existed feature set.
@borlander are you IDEA developer? Do you have some settings place?

[2016-06-28 10:53] KostyaSha commented on #617
For docker-beta please follow references from  #537 to netty issues to have native socket connection.

[2016-06-28 10:53] borlander commented on #617
@KostyaSha Yes, we know how to specify API version and for me this is out of scope of this request

[2016-06-28 10:57] sevikkk commented on #617
With docker-for mac - it's separate issue from native connection - even with TCP port-forward it does not work, because of HostConfig issue.

[2016-06-28 11:00] borlander commented on #617
@sevikkk https://youtrack.jetbrains.com/issue/IDEA-157736 will be fixed in the next plugin version.
No changes in the docker-java library is required for this one, so please lets discuss this issue in IntelliJ youtrack.

[2016-06-28 15:20] sourcecase opened #618 "Run Container with 'docker run --net=my_network'"
Hi docker-java coders,
I'm running docker-java within testcontainers to spawn Docker containers for unit testing. The Jenkins server which executes the tests is running is a Docker container as well. The Jenkins Container is spawned in a defined Docker network with the option "docker run --network".

Is there a way to spawn a testcontainer from java in a non default network?

Regards and thanks
Ch

[2016-06-28 15:24] KostyaSha commented on #618
Please follow docker api docs https://docs.docker.com/engine/reference/api/docker_remote_api_v1.22/#create-a-container if something missing in models/objects then feel free to open feature request.
Also note that 1.12 docker is not supported yet, so you need point your dockerclient connetion to previous api version (1.23 afair)

[2016-06-28 15:24] #618 closed

[2016-06-28 15:39] KostyaSha opened #619 "split models and commands APIs"
Didn't found this as issue. Something that i suggested in comments. For discussion.

When this library initially existed it had request models separated from CMDs. That allowed to have CMD creation logic separately from models. It should also allow do serder on request models. Example could be http://download.eclipse.org/jgit/site/4.4.0.201606070830-r/apidocs/index.html with `org.eclipse.jgit.api

[2016-06-28 16:10] KostyaSha commented on #617
Some thoughts here #619

[2016-06-28 18:19] rnorth commented on #618
Hi @sourcecase. Please file this as an issue on the testcontainers issue
tracker rather than here, as the docker-java team are not responsible for
testcontainers and, I think, have provided what we need.

I think I have what you're looking for in a branch, due for release soon
after a little bit more prep. Please file an issue and I'll try and tell
you what you need to know.
On Tue, 28 Jun 2016 at

[2016-06-28 20:08] KostyaSha commented on #491
They removed https://github.com/jersey/jersey/commit/10800f621b92e23bfe23b62013a6771ed5953c00#diff-b74fc7ce04e2f68cc60f86b10c2697f0
`ApacheClientProperties.SSL_CONFIG`

[2016-06-29 08:36] KostyaSha commented on #537
Does it support sockets? :)

[2016-06-29 08:41] gesellix commented on #537
@KostyaSha "sockets" as in "Java Socket"? Or do you mean Unix Domain Sockets?
It easily allows to use Unix Domain Sockets (and even Named Pipes as the Windows equivalent used by Docker for Windows) by providing a custom SocketFactory.
Or did your question aim at the connection hijacking for the Docker attach with interactive stdin stuff?

[2016-06-29 08:42] KostyaSha commented on #537
@gesellix both :)

[2016-06-29 08:53] gesellix commented on #537
@KostyaSha :-)

so, I regard part 1 as answered, see examples at [UnixSocketFactory](https://github.com/gesellix/docker-client/blob/master/src/main/groovy/de/gesellix/docker/client/UnixSocketFactory.groovy) and [NpipeSocketFactory](https://github.com/gesellix/docker-client/blob/master/src/main/groovy/de/gesellix/docker/client/NpipeSocketFactory.groovy).

For the more advanced part of hijacking the

[2016-06-30 18:26] KostyaSha commented on #619
@marcuslinke ?

[2016-07-01 06:56] marcuslinke commented on #619
@KostyaSha Well, lets clarify whats means low-lewel and high-level in our case. In my oppinion  docker-java IS and MUST be a low-level API and not more. Any high-level API would combine the existing low-level CMDs to something new, maybe comparable to docker CLI. Maybe I have misunderstood the terms here...

The second question is: What do you mean by splitting commands from request models? You ca

[2016-07-01 07:03] KostyaSha commented on #619
But we are in java and CMD is already inherits exec, using interfaces would be crazy i think.

I mean doing model configuration not with CMD methods https://github.com/docker-java/docker-java/tree/docker-java-0.8.1#create-new-docker-container-wait-for-its-start-and-stop-it . Yes, you still need add some variables/headers in request, but they could be stored in CMD, or in model, or detected from mo

[2016-07-01 07:24] marcuslinke commented on #619
The way I suggested would eleminate the CMD interfaces in package `com.github.dockerjava.api.command`. We don't really need interfaces for commands.

I don't see any advantage compared to what I've suggested here. It only complicates the usage from the user perspective. Passing a `CreateContainerRequest` object to a `CreateContainerCmd` is mandatory so why we should burden this to the API? So in f

[2016-07-01 07:29] KostyaSha commented on #619
Highlevel it to have the same parameters with additional logic like docker tool has itself, it doesn't match to API directly. I.e. having run command, discussion that we had about networks. From low level perspective if HostConfig forbidden now, then we should just add new model objects and it will be user's issue to use right low level api. Now imho CMD bundled with request model is like low-leve

[2016-07-01 07:46] marcuslinke commented on #619
As I stated before docker-java is low-level only. The fact we have introduced some high-level logic to commands is a workaround for a bad remote API design. We could implement high level API/commands on top of the existing low-level commands but this has nothing to do with this discussion here in my oppinion.

@KostyaSha So as I understand you want address different remote API versions with differ

[2016-07-04 01:59] cdancy commented on #615
[bitsofinfo](https://github.com/bitsofinfo) posted [this in our ISSUES](https://github.com/bmuschko/gradle-docker-plugin/issues/235) and as such we're able to get [docker-java working on mac with this hack of sorts](https://forums.docker.com/t/worked-around-docker-http-s-api-no-longer-available-in-beta9/10474/6) ... which is great. However, docker on mac is currently on 1.12 and suffers from this

[2016-07-04 07:24] KostyaSha commented on #615
@cdancy try open wireshark and dump request/responses.

[2016-07-04 07:25] KostyaSha commented on #615
@cdancy does docker CLI works when you target it to versioned endpoint?

[2016-07-04 07:25] sourcecase commented on #618
Hi Richard and @KostyaSha ,

sorry for adding this issue in the wrong thread.
@rnorth Thanks for your help related to my use case. I will open an issue in the testcontainers issue tracker.

Best regards
Chris

[2016-07-04 13:22] cdancy commented on #615
Docker CLI works with all version as does curl. Pasted the curl output for the default as well as a specific version below.

Curling with default (which is api v1.24):

	curl -vv -X POST http://localhost:2375/containers/4bd6c5a9876a/start
	*   Trying ::1...
	* connect to ::1 port 2375 failed: Connection refused
	*   Trying 127.0.0.1...
	* Connected to localhost (127.0.0.1) port 2375 (#0)

	< HTTP/

[2016-07-04 13:30] KostyaSha commented on #615
Hm.. i have PR with updated jersey and deps in #620  but it started failing with connection pool. I think our problem now that we IT doesn't pass on travis :(

[2016-07-04 13:35] cdancy commented on #615
@KostyaSha if you need someone to test with an in-dev version of docker-java feel free to ping me when you've got things ironed out.

[2016-07-04 13:38] KostyaSha commented on #615
@cdancy atm i think only @marcuslinke remember what he hacked in `ApacheConnector`

[2016-07-05 15:03] tejksat opened #624 "Memory leak in HttpResponseStreamHandler"
The problem is similar to #560 but happens with `HttpResponseStreamHandler`. It's inner class `HttpResponseInputStream` doesn't seem to manage `ByteBuf current`.

[code]

[2016-07-05 16:57] tejksat opened #625 "Second execution of a docker command in Netty implementation always fails"
Second and consequent executions of a docker command fails with _404 page not found_ error because `baseResource` in `AbstrDockerCmdExec` is modified every execution by an invocation of `getBaseResource().path(...)` method, which mutates `WebTarget` state. F.e. in `CreateContainerCmdExec`:

[code]

[2016-07-07 03:22] langziming opened #628 "create comtainer which property is replace the command args “-P”"
when i run a container as command  “docker run -d -P tomcat:5.0” the container is run and the port info as flow
     "Ports": {
            "8080/tcp": [
                {
                    "HostIp": "0.0.0.0",
                    "HostPort": "32770"
                }
            ]
        }

but when i create container as java api which args is same as command args -P

[2016-07-07 08:13] KostyaSha commented on #628
what is the question?

[2016-07-07 09:28] rnorth commented on #628
I think @langziming is after the method on `CreateContainerCmd` that is the equivalent of using `-P` in the docker CLI. If that's the case `.withPublishAllPorts(true)` should do the trick.

[2016-07-07 09:30] KostyaSha commented on #628
There are 3 places that you need/may configure to get ports. PortBindings, publish, ...
Because you image may already has `Expose` and you only need to publish or portbind it.

[2016-07-07 09:32] langziming commented on #628
@KostyaSha my issue like  rnorth say

[2016-07-07 11:02] orzeh commented on #617
@KostyaSha Maybe I'm wrong but to fix `HostConfig` issue is just to change `command` to `null` in  [jaxrs/StartContainerCmdExec](https://github.com/docker-java/docker-java/blob/master/src/main/java/com/github/dockerjava/jaxrs/StartContainerCmdExec.java#L29) and [netty/exec/StartContainerCmdExec](https://github.com/docker-java/docker-java/blob/master/src/main/java/com/github/dockerjava/netty/exec/S

[2016-07-07 13:09] KostyaSha commented on #628
Thanks, closing then.

[2016-07-07 13:09] #628 closed

[2016-07-07 13:23] KostyaSha commented on #625
Could you propose PR?

[2016-07-07 20:40] tejksat commented on #625
PR #630

[2016-07-07 20:41] KostyaSha commented on #625
Thanks!

[2016-07-08 05:58] rnorth opened #632 "Netty 'IllegalStateException: executor not accepting a task'"
Hi,

I'm experiencing what looks like netty/netty#5313 when changing Testcontainers to use a single shared netty-based DockerClient (as #536 suggests should work). (This change is to avoid testcontainers/testcontainers-java#170, where we're getting apparent file descriptor exhaustion from opening too many netty-based docker clients.)

After switching to a single docker client instance, I'm getting

[2016-07-08 07:03] marcuslinke commented on #632
Thanks for reporting! Don't have a clue whats the problem here. I think we need a test case that reproduces the issue as you suggested...

[2016-07-08 07:07] KostyaSha commented on #632
but 4.1.2 is available, will try update netty dep.

[2016-07-09 08:05] marcuslinke commented on #624
@tejksat Thanks for reporting! Could you file a PR please?

[2016-07-11 22:14] ceagan commented on #617
I'm running Docker for Windows 1.12.0-rc3-beta18 (build: 5226). I'm having trouble with the API version specification as the solution to this problem and I don't think that I can use the UNIX socket solution because this is on Windows.

If I specify API version 1.11, I see this error:

If I specify API version 1.12, I see this error:

From what I can tell, the Docker Daemon has pulled support for

[2016-07-11 22:41] KostyaSha commented on #617
API version != docker version.
https://docs.docker.com/engine/reference/api/docker_remote_api/
set it to 1.23

[2016-07-12 12:32] tejksat commented on #624
@marcuslinke PR #633

[2016-07-12 15:46] ceagan commented on #617
This may be the wrong forum for this particular issue, but I think that since the code works with the Virtual Box version of Docker on Windows, that this might be an issue in docker-java.

I tried the setting you suggested and debugged the docker-maven-plugin to see what was happening. It turned out that I also had to set the `versionAutoDetect` property to `false` in order for this setting to hav

[2016-07-12 18:06] KostyaSha commented on #615
UPD: master has fresh deps

[2016-07-12 18:07] KostyaSha commented on #617
#615